#mapa {
  width: 497px;
  height: 493px;
}

#status th{
  padding-top:3px;
  font-size: 80%;
  color: #666666;
  vertical-align: bottom;
}

#status div:FIRST-CHILD{
  border-bottom: solid medium #E0CB85;
  padding-left: 15px;
  padding-right: 15px;
}

#status {
  position: absolute;
  z-index: 0;
  left: 5%;
  top: 60%;
  border: solid thin #D5D5D5;
  text-align: center;
}

#status td{
  border-bottom: solid thin #B7B7B7;
  border-right: solid thin #B7B7B7;
  padding: 3px;
  font-weight: bold;
  color: #333333;  
}