BODY
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    SCROLLBAR-FACE-COLOR: #f4f4f4;
    BACKGROUND: #f6f6f6;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    FONT: 9pt Arial, sans-serif;
    TEXT-TRANSFORM: none;
    SCROLLBAR-SHADOW-COLOR: #999;
    COLOR: #000;
    SCROLLBAR-ARROW-COLOR: #000;
    PADDING-TOP: 0px;
    SCROLLBAR-TRACK-COLOR: #e6e6e6;
    TEXT-DECORATION: none
}
H1
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 12pt;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    COLOR: #69c;
    PADDING-TOP: 10px;
    TEXT-ALIGN: center
}
H2
{
    PADDING-RIGHT: 10px;
    PADDING-LEFT: 10px;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 10px;
    MARGIN: 0px;
    COLOR: #69c;
    PADDING-TOP: 10px;
    TEXT-ALIGN: center
}
.descLab
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 90%;
    COLOR: #368;
    TEXT-ALIGN: left
}
.txtLab
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 90%;
    COLOR: #000;
    TEXT-ALIGN: left
}
.txtLab_b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 90%;
    COLOR: #000;
    TEXT-ALIGN: left
}
UL.rs_lista
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
OL.rs_lista
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
UL.rs_lista LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 4px 30px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
OL.rs_lista LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 4px 30px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
.letter
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    BACKGROUND: none transparent scroll repeat 0% 0%;
    FLOAT: left;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px;
    WIDTH: 100%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #999 1px solid
}
UL.rs_lista HR
{
    CLEAR: both;
    MARGIN: 0px
}
OL.rs_lista HR
{
    CLEAR: both;
    MARGIN: 0px
}
UL.rs_lista_reg
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 10px 20px;
    PADDING-TOP: 4px
}
OL.rs_lista_reg
{
    CLEAR: both;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 10px 20px;
    PADDING-TOP: 4px
}
UL.rs_lista_reg LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 30px;
    PADDING-TOP: 2px
}
UL.rs_lista_reg LI LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 30px;
    PADDING-TOP: 2px
}
OL.rs_lista_reg LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 30px;
    PADDING-TOP: 2px
}
OL.rs_lista_reg LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 30px;
    PADDING-TOP: 2px
}
.rs_lista_reg .rs_lista
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 20px;
    PADDING-TOP: 4px
}
.rs_lista_reg .reg_lista
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 20px;
    PADDING-TOP: 4px
}
.rs_lista .rs_lista_reg
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 20px;
    PADDING-TOP: 4px
}
.rs_lista .rs_lista_reg
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px 0px 20px;
    PADDING-TOP: 4px
}
.rs_lista_reg .rs_lista LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
.rs_lista_reg .reg_lista LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
.rs_lista .rs_lista LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
.rs_lista .reg_lista LI .rs_lista .rs_lista_reg LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
.rs_lista .rs_lista_reg LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px 0px 0px 4px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #ddd 1px solid
}
SPAN.total
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 2px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 2px;
    BACKGROUND: #888;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 10px;
    BORDER-LEFT: #000 1px solid;
    COLOR: #fff;
    PADDING-TOP: 0px;
    BORDER-BOTTOM: #000 1px solid
}
UL.cor
{
    BORDER-RIGHT: #666 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #666 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px;
    BORDER-LEFT: #666 1px solid;
    WIDTH: 90%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #666 1px solid;
    LIST-STYLE-TYPE: none
}
UL.cor1
{
    BORDER-RIGHT: #666 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #666 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px;
    BORDER-LEFT: #666 1px solid;
    WIDTH: 90%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #666 1px solid;
    LIST-STYLE-TYPE: none
}
UL.cor LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 4px;
    MARGIN: 1px;
    WIDTH: 98%;
    PADDING-TOP: 4px
}
UL.cor1 LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 4px;
    MARGIN: 1px;
    WIDTH: 98%;
    PADDING-TOP: 4px
}
OL.cor
{
    BORDER-RIGHT: #666 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #666 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px;
    BORDER-LEFT: #666 1px solid;
    WIDTH: 90%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #666 1px solid
}
OL.cor1
{
    BORDER-RIGHT: #666 1px solid;
    PADDING-RIGHT: 4px;
    BORDER-TOP: #666 1px solid;
    PADDING-LEFT: 4px;
    PADDING-BOTTOM: 4px;
    MARGIN: 4px;
    BORDER-LEFT: #666 1px solid;
    WIDTH: 90%;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #666 1px solid
}
OL.cor LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 4px;
    MARGIN: 1px;
    WIDTH: 98%;
    PADDING-TOP: 4px
}
OL.cor1 LI
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 4px;
    MARGIN: 1px;
    WIDTH: 98%;
    PADDING-TOP: 4px
}
SPAN OL.rs_lista OL.rs_lista
{
    FONT-WEIGHT: normal
}
.cor
{
    BACKGROUND: #d5e0ee
}
UNKNOWN
{
    BACKGROUND: #fff
}
.cabecalho
{
    BACKGROUND: #036;
    BORDER-BOTTOM: #000 1px solid
}
.txt_branco
{
    FONT: bold 9pt Arial, Helvetica, sans-serif;
    COLOR: #fff
}
A.txt_branco:hover
{
    FONT: bold 9pt Arial, Helvetica, sans-serif;
    COLOR: #fff
}
.txt_link
{
    FONT: 8pt Arial, Helvetica, sans-serif;
    COLOR: #036
}
A.txt_link:link
{
    FONT: 8pt Arial, Helvetica, sans-serif;
    COLOR: #036
}
A.txt_link:hover
{
    FONT: 8pt Arial, Helvetica, sans-serif;
    COLOR: #036
}
A.txt_link:active
{
    FONT: 8pt Arial, Helvetica, sans-serif;
    COLOR: #036
}
A.txt_link:visited
{
    FONT: 8pt Arial, Helvetica, sans-serif;
    COLOR: #036
}
A.txt_link:hover
{
    COLOR: #f60
}
.txt_corpo
{
    FONT: 9pt Arial, Helvetica, sans-serif
}
A.txt_corpo
{
    FONT: 9pt Arial, Helvetica, sans-serif
}
A.txt_corpo:visited
{
    FONT: 9pt Arial, Helvetica, sans-serif
}
UNKNOWN
{
    TEXT-ALIGN: justify
}
A.txt_corpo
{
    FONT: 9pt Arial, Helvetica, sans-serif;
    COLOR: #069
}
.txt_titulo
{
    FONT: bold 10pt Arial, Helvetica, sans-serif;
    COLOR: #566587;
    TEXT-ALIGN: left
}
.txt_titulo A
{
    FONT: bold 10pt Arial, Helvetica, sans-serif;
    COLOR: #566587;
    TEXT-ALIGN: left
}
.txt_titulo A:active
{
    FONT: bold 10pt Arial, Helvetica, sans-serif;
    COLOR: #566587;
    TEXT-ALIGN: left
}
.txt_titulo A:visited
{
    FONT: bold 10pt Arial, Helvetica, sans-serif;
    COLOR: #566587;
    TEXT-ALIGN: left
}
.txt_titulo A:link
{
    FONT: bold 10pt Arial, Helvetica, sans-serif;
    COLOR: #566587;
    TEXT-ALIGN: left
}
.txt_titulo A:hover
{
    FONT: bold 10pt Arial, Helvetica, sans-serif;
    COLOR: #f60;
    TEXT-ALIGN: left
}
.borda_pontilhada
{
    BORDER-LEFT: #ccc 1px dotted
}
.cabecalho_prossiga
{
    BORDER-TOP: #999 1px solid;
    BORDER-BOTTOM: #999 1px solid
}
.txt_corpo_branco
{
    FONT: 8pt Arial, Helvetica, sans-serif;
    COLOR: #fff
}
.borda_solida
{
    BORDER-LEFT: #ccc 1px solid
}
.linkvazio
{
    FONT-WEIGHT: bold;
    COLOR: #000;
    TEXT-DECORATION: none
}
.govTable
{
    BACKGROUND: #fc0;
    BORDER-BOTTOM: #000 1px solid
}
A
{
    FONT: 8pt Arial, sans-serif;
    COLOR: #039;
    TEXT-DECORATION: none
}
A:link
{
    FONT: 8pt Arial, sans-serif;
    COLOR: #039;
    TEXT-DECORATION: none
}
A:visited
{
    FONT: 8pt Arial, sans-serif;
    COLOR: #039;
    TEXT-DECORATION: none
}
A:hover
{
    FONT: 8pt Arial, sans-serif;
    COLOR: #039;
    TEXT-DECORATION: none
}
A:active
{
    FONT: 8pt Arial, sans-serif;
    COLOR: #039;
    TEXT-DECORATION: none
}
A:hover
{
    FONT-WEIGHT: normal;
    TEXT-TRANSFORM: none;
    COLOR: #f60;
    TEXT-DECORATION: none
}
.ibictTitulo
{
    FONT: bold 11pt Arial, sans-serif;
    COLOR: #fff;
    TEXT-DECORATION: none
}
A.ibictTitulo:link
{
    FONT: bold 11pt Arial, sans-serif;
    COLOR: #fff;
    TEXT-DECORATION: none
}
A.ibictTitulo:hover
{
    FONT: bold 11pt Arial, sans-serif;
    COLOR: #fff;
    TEXT-DECORATION: none
}
A.ibictTitulo:visited
{
    FONT: bold 11pt Arial, sans-serif;
    COLOR: #fff;
    TEXT-DECORATION: none
}
A.ibictTitulo:active
{
    FONT: bold 11pt Arial, sans-serif;
    COLOR: #fff;
    TEXT-DECORATION: none
}
.ibictBar
{
    BORDER-BOTTOM: #000 1px solid;
    BACKGROUND-COLOR: #1f3360
}
.ibictSelect
{
    BACKGROUND: #666;
    FONT: bold 8pt Arial, Helvetica, sans-serif;
    COLOR: #fff
}
.menuBar
{
    BACKGROUND: #6d8a99;
    FONT: bold 12pt Arial,sans-serif;
    BORDER-BOTTOM: #000 1px solid
}
.menuLink
{
    FONT: bold 8pt Arial,sans-serif;
    COLOR: #f6b300
}
A.menuLink:link
{
    FONT: bold 8pt Arial,sans-serif;
    COLOR: #f6b300
}
A.menuLink:hover
{
    FONT: bold 8pt Arial,sans-serif;
    COLOR: #f6b300
}
A.menuLink:active
{
    FONT: bold 8pt Arial,sans-serif;
    COLOR: #f6b300
}
A.menuLink:visited
{
    FONT: bold 8pt Arial,sans-serif;
    COLOR: #f6b300
}
A.menuLink:hover
{
    COLOR: #fff
}
.copyright
{
    FONT: 7pt Arial,sans-serif;
    COLOR: #fff
}
.pr
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    LIST-STYLE-IMAGE: none;
    FONT-STYLE: normal;
    FONT-FAMILY: Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f8c400
}
.tdLine
{
    BORDER-BOTTOM: #000 1px solid;
    BACKGROUND-COLOR: #fc0
}
.tdLine1
{
    BACKGROUND-COLOR: #fc0
}
.tdLine11
{
    BORDER-BOTTOM: #ccc 1px solid
}
.link
{
    FONT-SIZE: 7pt;
    COLOR: #ccc;
    TEXT-DECORATION: none
}
A.link:link
{
    FONT-SIZE: 7pt;
    COLOR: #ccc;
    TEXT-DECORATION: none
}
A.link:hover
{
    FONT-SIZE: 7pt;
    COLOR: #fc0;
    TEXT-DECORATION: none
}
A.link:active
{
    FONT-SIZE: 7pt;
    COLOR: #fc0;
    TEXT-DECORATION: none
}
.rodape
{
    BORDER-TOP: #000 1px solid;
    BACKGROUND: #999;
    FONT: 8pt/10pt Arial,sans-serif;
    COLOR: #fff;
    TEXT-ALIGN: justify
}
.centro
{
    BORDER-RIGHT: #000 1px solid;
    BORDER-LEFT: #000 1px solid
}
.direita
{
    BACKGROUND: #eee;
    BORDER-LEFT: #000 1px solid
}
.esquerda
{
    BORDER-RIGHT: #000 1px solid
}
.item
{
    BACKGROUND: #6d8a99;
    BORDER-BOTTOM: #000 1px solid
}
.subitem
{
    BACKGROUND: #b1cddb;
    BORDER-BOTTOM: #000 1px solid
}
#noticia
{
    CLEAR: both;
    PADDING-RIGHT: 3px;
    PADDING-LEFT: 6px;
    PADDING-BOTTOM: 6px;
    MARGIN: 8px 3px;
    WIDTH: 86%;
    PADDING-TOP: 3px;
    TEXT-ALIGN: justify
}
.noticiaList
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 4px 10px 10px 30px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.noticiaList1
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 4px 10px 10px 30px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.noticiaList LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 12px;
    LIST-STYLE-POSITION: outside;
    BACKGROUND: url(images/icone_mais.gif) no-repeat -3px 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 3px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.noticiaList1 LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 12px;
    LIST-STYLE-POSITION: outside;
    BACKGROUND: url(images/icone_mais.gif) no-repeat -3px 3px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 4px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.noticiaList1 LI A
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
#separador
{
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 6px;
    MARGIN: 20px 2px;
    PADDING-TOP: 20px
}
.link1
{
    FONT: bold 10pt Arial,sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:link
{
    FONT: bold 10pt Arial,sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:hover
{
    FONT: bold 10pt Arial,sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:active
{
    FONT: bold 10pt Arial,sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
.link1
{
    FONT: bold 10pt Arial, sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:link
{
    FONT: bold 10pt Arial, sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:hover
{
    FONT: bold 10pt Arial, sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:active
{
    FONT: bold 10pt Arial, sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:visited
{
    FONT: bold 10pt Arial, sans-serif;
    COLOR: #666;
    TEXT-DECORATION: none
}
A.link1:hover
{
    COLOR: #f60
}
.tabela
{
    BORDER-RIGHT: #999 1px dotted;
    PADDING-RIGHT: 3px;
    BORDER-TOP: #999 1px dotted;
    PADDING-LEFT: 3px;
    PADDING-BOTTOM: 3px;
    BORDER-LEFT: #999 1px dotted;
    PADDING-TOP: 3px;
    BORDER-BOTTOM: #999 1px dotted
}
.tdDireita
{
    BORDER-RIGHT: #ccc 1px dotted
}
TH
{
    FONT: bold 10pt Arial, Helvetica;
    COLOR: #000;
    TEXT-ALIGN: center
}
.subtitulo
{
    FONT: bold 10pt Arial, Helvetica;
    COLOR: #000;
    TEXT-ALIGN: left
}
#imgNoticia
{
    CLEAR: none;
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    FLOAT: left;
    PADDING-BOTTOM: 6px;
    MARGIN: 0px 4px 10px 0px;
    FONT: 8pt/12pt Arial,sans-serif;
    WIDTH: 280px;
    COLOR: #444;
    PADDING-TOP: 6px
}
.imgNoticia
{
    CLEAR: none;
    PADDING-RIGHT: 6px;
    PADDING-LEFT: 6px;
    FLOAT: left;
    PADDING-BOTTOM: 6px;
    MARGIN: 0px 4px 10px 0px;
    FONT: 8pt/12pt Arial,sans-serif;
    WIDTH: 280px;
    COLOR: #444;
    PADDING-TOP: 6px
}
#imgNoticia IMG
{
    CLEAR: both;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    PADDING-TOP: 2px
}
.imgNoticia IMG
{
    CLEAR: both;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    PADDING-TOP: 2px
}
.assinaturaCom
{
    CLEAR: both;
    FLOAT: left
}
TABLE.seerAgenda
{
    PADDING-RIGHT: 0px;
    BORDER-TOP: #000 1px solid;
    PADDING-LEFT: 0px;
    BACKGROUND: #fff;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    BORDER-LEFT: #000 1px solid;
    WIDTH: 96%;
    PADDING-TOP: 0px;
    POSITION: relative
}
TABLE.seerAgenda TH
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 2px;
    PADDING-LEFT: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 90%;
    BACKGROUND: #079;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    COLOR: #fff;
    PADDING-TOP: 2px;
    BORDER-BOTTOM: #000 1px solid
}
TABLE.seerAgenda TD
{
    BORDER-RIGHT: #000 1px solid;
    PADDING-RIGHT: 4px;
    PADDING-LEFT: 4px;
    FONT-SIZE: 90%;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    PADDING-TOP: 4px;
    BORDER-BOTTOM: #000 1px solid
}
UL.seerUl
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 4px;
    MARGIN: 0px;
    PADDING-TOP: 1px;
    LIST-STYLE-TYPE: none
}
.seerUl LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.seerUl UL
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px;
    PADDING-TOP: 1px
}
.seerUl UL LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 10px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: none
}
.seerUl UL LI LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 6px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: circle
}
.seerUl UL LI LI LI
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FONT-WEIGHT: normal;
    LIST-STYLE-POSITION: outside;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px 0px 0px 6px;
    PADDING-TOP: 0px;
    LIST-STYLE-TYPE: square
}
.botaoSeer
{
    BORDER-RIGHT: #666 1px solid;
    PADDING-RIGHT: 1px;
    BORDER-TOP: #666 1px solid;
    PADDING-LEFT: 1px;
    FONT-WEIGHT: bold;
    BACKGROUND: #ccc;
    PADDING-BOTTOM: 1px;
    MARGIN: 0px 0px 0px 10px;
    BORDER-LEFT: #666 1px solid;
    COLOR: #fff;
    PADDING-TOP: 1px;
    BORDER-BOTTOM: #666 1px solid
}
#letra
{
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    PADDING-BOTTOM: 2px;
    MARGIN: 0px;
    PADDING-TOP: 20px
}
.arrowList
{
    CLEAR: none;
    PADDING-RIGHT: 0px;
    PADDING-LEFT: 0px;
    FLOAT: right;
    PADDING-BOTTOM: 0px;
    MARGIN: 0px;
    PADDING-TOP: 0px
}
