Fontes_PHP_SIW/log
SP_Oracle92/siw/SP_GetDescontoAgencia.~prc
SP_Oracle92/siw/SP_GetPD_Bilhete.~prc
SP_Oracle92/siw/SP_GetSolicResultado.~prc
SP_Oracle92/siw/SP_PutPD_Bilhete.~prc
SP_Oracle92/siw/SP_PutProjetoDescritivo.~prc
SP_Oracle92/siw/sp_getsolicareas.~prc
SP_Oracle92/siw/sp_getsolicdata.~prc
SP_Oracle92/siw/sp_getsoliclist.~prc
SP_Oracle92/siw/sp_getsolicresultado.~sql
SP_Oracle92/siw/sp_putinformar.~prc
