
#container
{

}

.Xtree
{
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    LIST-STYLE-TYPE: none;
    BACKGROUND-COLOR: transparent
}
.XtreeRoot
{
    PADDING-LEFT: 0px;
    MARGIN: 0px;
    LIST-STYLE-TYPE: none;
    BACKGROUND-COLOR: transparent
	
}
.Xtree
{
    PADDING-LEFT: 25px;
    MARGIN-LEFT: 3px;
    BORDER-LEFT: #aaa 1px dotted
}
.Xnode1
{
    MARGIN-TOP: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 95%;
    BACKGROUND-IMAGE: none;
    MARGIN-BOTTOM: 3px;
    CURSOR: pointer;
    COLOR: black;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: transparent
}
.Xleaf1
{
    MARGIN-TOP: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 95%;
    BACKGROUND-IMAGE: none;
    MARGIN-BOTTOM: 2px;
    COLOR: black;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: verdana;
    BACKGROUND-COLOR: transparent
}
.Xnode
{
    MARGIN-TOP: 3px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 95%;
    BACKGROUND-IMAGE: none;
    MARGIN-BOTTOM: 3px;
    CURSOR: pointer;
    COLOR: black;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: verdana;
    HEIGHT: 20px;
    BACKGROUND-COLOR: transparent
}
.Xleaf
{
    MARGIN-TOP: 2px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 95%;
    BACKGROUND-IMAGE: none;
    MARGIN-BOTTOM: 2px;
    COLOR: black;
    BACKGROUND-REPEAT: repeat;
    FONT-FAMILY: verdana;
    HEIGHT: 20px;
    BACKGROUND-COLOR: transparent
}
.Xnode A
{
    COLOR: black;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.Xnode A:hover
{
    FONT-WEIGHT: lighter;
    COLOR: red;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.Xleaf A
{
    COLOR: black;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.Xleaf A:hover
{
    FONT-WEIGHT: bolder;
    BACKGROUND-IMAGE: none;
    COLOR: red;
    BACKGROUND-REPEAT: repeat;
    BACKGROUND-COLOR: transparent;
    TEXT-DECORATION: none
}
.Xlink
{
    FONT-WEIGHT: lighter;
    FONT-SIZE: 8pt;
    COLOR: blue;
    FONT-STYLE: italic;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: transparent
}
.Xlink A
{
    TEXT-DECORATION: none
}
.Xlink A:hover
{
    COLOR: red;
    TEXT-DECORATION: none
}
BODY
{
    FONT-SIZE: 12px;
    FONT-FAMILY: Verdana;
}

.HL
{
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.HL A
{
    TEXT-DECORATION: none
}
.HL A:hover
{
    COLOR: red;
    TEXT-DECORATION: none
}
.SS
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 100%;
    TEXT-DECORATION: none
}
.SS A
{
    TEXT-DECORATION: none
}
.SS A:hover
{
    TEXT-DECORATION: none
}
.STB
{
    BORDER-RIGHT: 1px solid;
    BORDER-TOP: 1px solid;
    FONT-WEIGHT: lighter;
    FONT-SIZE: 100%;
    BORDER-LEFT: 1px solid;
    COLOR: black;
    BORDER-BOTTOM: 1px solid;
    FONT-FAMILY: Verdana;
    BACKGROUND-COLOR: #c0c0c0
}
.STI
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 100%;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #f5f5f5
}


textarea.STI
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
}

.STS
{
    BORDER-RIGHT: thin solid;
    BORDER-TOP: thin solid;
    FONT-SIZE: 100%;
    BORDER-LEFT: thin solid;
    BORDER-BOTTOM: thin solid;
    BACKGROUND-COLOR: #f5f5f5
}
.STR
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 100%;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    BACKGROUND-COLOR: #f5f5f5
}
.STC
{
    FONT-SIZE: 100%
}

table
{
	font:8px verdana,helvetica,clean,sans-serif;
	font-size:small;
	font:x-small;
}
TD
{  
	font-size: 80%;
}
.LH
{
    COLOR: red;
    FONT-FAMILY: Verdana;
    TEXT-DECORATION: none
}
.STIO
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
	FONT-SIZE: 101%;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #ffffbb
}

textarea.STIO 
{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
	FONT-SIZE: 8pt;
    BORDER-LEFT: black 1px solid;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #ffffbb
}

table ul li{


	font-size: 100%;




}

.STIH{
    BORDER-RIGHT: black 1px solid;
    BORDER-TOP: black 1px solid;
    FONT-SIZE: 100%;
    BORDER-LEFT: black 1px solid;
    COLOR: black;
    BORDER-BOTTOM: black 1px solid;
    BACKGROUND-COLOR: #efefef
}

/*Propriedades dos checkbox*/

/**************** atrasados ******************/
/* checkbox : unchecked (default/base) state */
.atrasados {
  font: 12px Tahoma, Arial, Helvetica, sans-serif;
  text-decoration: none;
  outline: none;
  background: url(atrasados.gif) no-repeat
    ;
  height: 16px;
  width: 40px;
  display: block;
  float: left;
  padding: 1px 0px 0px 20px;
  color: #666666;
}

/* checkbox : hover state */
.atrasados:hover {
  color: #0066FF;
  text-decoration: underline;
}

/* checkbox : checked state */
.atrasados_checked {
  background-position: left -25px;
}

/**************** adiantados *****************/
/* checkbox : unchecked (default/base) state */
.adiantados {
  font: 12px Tahoma, Arial, Helvetica, sans-serif;
  text-decoration: none;
  outline: none;
  background: url(adiantados.gif) no-repeat
    ;
  height: 16px;
  width: 40px;
  display: block;
  float: left;
  padding: 1px 0px 0px 20px;
  color: #666666;
}

/* checkbox : hover state */
.adiantados:hover {
  color: #0066FF;
  text-decoration: underline;
}

/* checkbox : checked state */
.adiantados_checked {
  background-position: left -25px;
}

/***************** concluidos *****************/
/* checkbox : unchecked (default/base) state */
.concluidos {
  font: 12px Tahoma, Arial, Helvetica, sans-serif;
  text-decoration: none;
  outline: none;
  background: url(adiantados.gif) no-repeat
    ;
  height: 16px;
  width: 40px;
  display: block;
  float: left;
  padding: 1px 0px 0px 20px;
  color: #666666;
}

/* checkbox : hover state */
.concluidos:hover {
  color: #0066FF;
  text-decoration: underline;
}

/* checkbox : checked state */
.concluidos_checked {
  background-position: left -25px;
}

/***************************/
#calendario a{
  color:#333333;
  text-decoration: none;
  font-size: 80%;
}

#calendario a:hover{
  color:#333333;
  text-decoration: none;
  font-size: 80%;
  font-weight: bolder;
}

#calendario td{
  border: 1px solid #ffffff;
  font-size: 80%;
}

.rh_fieldset{
  background-color: #EFEFEF;
  border: solid thin #FFFFFF; 
}

.rh_fieldset LEGEND{
  font-weight: bold;   
}

#folhadeponto{
 color:#333333; 
}

#folhadeponto tr:FIRST-CHILD td{
  background-color:#DFDFDF;
  border-right: solid 0.01em #CFCFCF;
}

#folhadeponto td{
  border: none;
  border-top: solid 0.01em #DFDFDF;
  border-right: solid 0.01em #DFDFDF;
}

#folhadeponto input{
  border: solid 0.01em #AAAAAA;
}