SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE FUNCTION dbo.ACENTOS(@VALOR VARCHAR(8000), @TIPO INT = NULL) RETURNS VARCHAR(8000)
AS

BEGIN
   DECLARE @nome VARCHAR(8000)
   SET @nome = @VALOR
   IF ISNULL(@Tipo, 0) = 0 OR @Tipo <> 1
     BEGIN
      SET @nome = REPLACE(lower(@nome), 'ã', 'a')
      SET @nome = REPLACE(lower(@nome), 'â', 'a')
      SET @nome = REPLACE(lower(@nome), 'á', 'a')
      SET @nome = REPLACE(lower(@nome), 'à', 'a')
      SET @nome = REPLACE(lower(@nome), 'é', 'e')
      SET @nome = REPLACE(lower(@nome), 'ê', 'e')
      SET @nome = REPLACE(lower(@nome), 'õ', 'o')
      SET @nome = REPLACE(lower(@nome), 'ô', 'o')
      SET @nome = REPLACE(lower(@nome), 'ó', 'o')
      SET @nome = REPLACE(lower(@nome), 'ú', 'u')
      SET @nome = REPLACE(lower(@nome), 'ü', 'u')
      SET @nome = REPLACE(lower(@nome), 'ç', 'c')
   
      SET @nome = ltrim(upper(@nome))
     END
   ELSE
     BEGIN
      SET @nome = REPLACE(@nome, '¿', 'â')
      SET @nome = REPLACE(@nome, ' ', 'á')
      SET @nome = REPLACE(@nome, 'Æ', 'ã')
      SET @nome = REPLACE(@nome, '¿', 'ê')
      SET @nome = REPLACE(@nome, '¿', 'é')
      SET @nome = REPLACE(@nome, '¡', 'í')
      SET @nome = REPLACE(@nome, 'ä', 'õ')
      SET @nome = REPLACE(@nome, '¢', 'ó')
      SET @nome = REPLACE(@nome, '£', 'ú')
      SET @nome = REPLACE(@nome, '¿', 'ç')
     END 
   RETURN(@nome)
END


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

