SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetEOAAtuac (@p_sq_pessoa int) as
begin
   --Recupera a lista de áreas de atuação
      select sq_area_atuacao, nome, ativo
        from eo_area_atuacao
       where sq_pessoa = @p_sq_pessoa
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

