SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetUserData
   (@p_cliente  int,
    @p_username varchar(30)
   ) as
begin
  select a.sq_pessoa, a.username, a.senha, a.assinatura, a.ativo, a.sq_unidade, a.sq_localizacao,
         a.gestor_seguranca, a.gestor_sistema, a.cliente, a.email,
         a.ultima_troca_senha, a.ultima_troca_assin, a.tentativas_senha, a.tentativas_assin,
         b.nome, b.nome_resumido, c.interno, d.sq_pessoa_endereco, e.codigo 
    from sg_autenticacao a,
         co_pessoa       b left outer join co_tipo_vinculo c on (b.sq_tipo_vinculo = c.sq_tipo_vinculo),
         eo_localizacao  d,
         eo_unidade      e
   where b.sq_pessoa_pai   = @p_cliente
     and a.sq_pessoa       = b.sq_pessoa
     and a.sq_localizacao  = d.sq_localizacao
     and a.sq_unidade      = e.sq_unidade
     and upper(username)   = upper(@p_username)
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

