SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetStateData
   (@p_sq_pais int,
    @p_co_uf   varchar(3)
   ) as
begin
   -- Recupera os dados do estado
      select * from CO_UF where sq_pais = @p_sq_pais and co_uf = @p_co_uf;
end


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

