SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO




CREATE   procedure SP_GetUserList (@p_cliente  int) as
begin
     select a.sq_pessoa sq_pessoa, a.username, a.gestor_seguranca, a.ativo,
            b.nome_resumido, b.nome nome, b.nome_indice, b.nome_resumido_ind, 
            c.sigla lotacao, c.sq_unidade, c.codigo, 
            d.nome localizacao, d.sq_localizacao, d.ramal, 
            e.nome vinculo, e.contratado
       from sg_autenticacao                   a 
            left outer   join eo_unidade      c on (a.sq_unidade      = c.sq_unidade)
            left outer   join eo_localizacao  d on (a.sq_localizacao  = d.sq_localizacao)
            inner        join co_pessoa       b on (a.sq_pessoa       = b.sq_pessoa)
              left outer join co_tipo_vinculo e on (b.sq_tipo_vinculo = e.sq_tipo_vinculo)
      where a.cliente            = @p_cliente
end





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

