SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SIW.SP_GetDeficGrpList as
begin
   -- Recupera os grupos de deficiências existentes
      select sq_grupo_defic, nome, ativo, 
             case ativo when 'S' then 'Sim' else 'Não' end ativodesc 
        from co_grupo_defic
      order by nome
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

