SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SIW.SP_GetFormatData
   (@p_sq_formacao int) as
begin
   -- Recupera os dados da Formação

      select * from co_formacao where sq_formacao = @p_sq_formacao
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

