SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SIW.SP_GetFormatList
as
begin
   -- Recupera os bancos existentes
      select ordem, sq_formacao, nome, ativo, 
             case tipo when '1' then 'Acadêmica' 
                       when '2' then 'Técnica'
                       else 'Prod.Cient.' 
             end tipo, 
             case ativo when 'S' then 'Sim' else 'Não' end ativodesc 
        from co_formacao
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

