SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetDeskTop
   (@p_cliente   int,
    @p_usuario   int
   ) as
begin
   -- Recupera a lista de módulos contratados pelo cliente
     select a.sq_pessoa, 
            b.sq_modulo, b.nome nm_modulo, b.sigla sg_modulo, b.objetivo_geral,
            c.sq_menu, c.nome nm_servico, c.link, c.imagem, c.p1, c.p2, c.p3, c.p4, c.sigla sg_servico,
            count(d.sq_siw_solicitacao) qtd
       from siw_cliente_modulo a, 
            siw_modulo         b,
            siw_menu           c,
            siw_solicitacao    d,
            siw_tramite        e
      where a.sq_modulo                            = b.sq_modulo
        and a.sq_pessoa                            = c.sq_pessoa
        and a.sq_modulo                            = c.sq_modulo
        and c.sq_menu                              = d.sq_menu
        and d.sq_siw_tramite                       = e.sq_siw_tramite
        and c.tramite                              = 'S'
        and c.ativo                                = 'S'
        and a.sq_pessoa                            = @p_cliente
        and IsNull(e.sigla,'nulo')                    <> 'CI'
        and e.ativo                                = 'S'
        and siw.acesso(d.sq_siw_solicitacao, @p_usuario)> 15
     group by a.sq_pessoa, b.sq_modulo, b.nome, b.sigla, b.objetivo_geral, 
              c.sq_menu, c.nome, c.link, c.imagem, c.p1, c.p2, c.p3, c.p4, c.sigla
     order by b.nome, c.nome
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

