SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetSolicEtpRec
   (@p_chave     int,
    @p_chave_aux int=null
   ) as
begin
  -- Recupera os recursos alocados a uma etapa do projeto
     select a.sq_projeto_etapa, a.titulo, a.inicio_previsto, a.fim_previsto, a.descricao,
            b.sq_projeto_recurso, b.nome, b.tipo, b.finalidade, 
            c.sq_projeto_recurso existe
       from pj_projeto_etapa    a,
            pj_projeto_recurso  b left outer join pj_recurso_etapa c on (b.sq_projeto_recurso = c.sq_projeto_recurso and c.sq_projeto_etapa = @p_chave)
      where a.sq_siw_solicitacao   = b.sq_siw_solicitacao
        and a.sq_projeto_etapa     = @p_chave
End



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

