SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCORegiao
   (@p_operacao                 varchar(1),
    @p_chave                    int         = null,
    @p_sq_pais                  int         = null,
    @p_nome                     varchar(20) = null,
    @p_sigla                    varchar(2)  = null, 
    @p_ordem                    int         = null  
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_regiao (sq_pais, nome, sigla, ordem) 
      values (
                 @p_sq_pais,
                 rtrim(@p_nome),
                 rtrim(upper(@p_sigla)),
                 @p_ordem
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_regiao set
         sq_pais              = @p_sq_pais,
         nome                 = rtrim(@p_nome),
         sigla                = rtrim(upper(@p_sigla)),
         ordem                = @p_ordem
      where sq_regiao    = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_regiao where sq_regiao = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

