SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SIW.SP_GetBankAccList
   (@p_cliente   int,
    @p_chave     int = null,
    @p_restricao varchar(255) = null) as
begin
   If ISNULL(@p_restricao, 0) = 0
      -- Recupera as contas bancárias do cliente
         select a.sq_pessoa, b.sq_pessoa_conta, 
                d.sq_banco, d.codigo + ' - ' + d.nome banco, 
                e.sq_agencia, e.codigo + ' - ' + e.nome agencia,  
                b.operacao, b.numero, b.ativo, b.padrao, 
                case b.tipo_conta when '1' then 'Corrente' else 'Poupança' end tipo_conta
           from co_pessoa a,  
                co_pessoa_conta b 
                  left outer join co_agencia e on (b.sq_agencia = e.sq_agencia)
                  left outer join co_banco   d on (e.sq_banco = d.sq_banco)
          where a.sq_pessoa        = b.sq_pessoa  
            and a.sq_pessoa        = @p_cliente
         order by d.nome, e.codigo

end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

