SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetVincKindData (@p_sq_tipo_vinculo int) as
begin
   -- Recupera os dados do tipo de vinculo
      select nome, sq_tipo_pessoa, interno, contratado, ativo, padrao
      from co_tipo_vinculo 
      where sq_tipo_vinculo = @p_sq_tipo_vinculo
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

