SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCTCC
   (@p_operacao  varchar(1),
    @p_chave     int          = null,
    @p_sq_cc_pai int          = null,
    @p_cliente   int          = null,
    @p_nome      varchar(60)  = null,
    @p_descricao varchar(500) = null,
    @p_sigla     varchar(20)  = null,
    @p_receita   varchar(1)   = null,
    @p_regular   varchar(1)   = null,
    @p_ativo     varchar(1)   = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into ct_cc (sq_cc_pai, cliente, nome, descricao, sigla, receita, regular, ativo)
      values (
                 @p_sq_cc_pai,
                 @p_cliente,
                 rtrim(@p_nome),
                 rtrim(@p_descricao),
                 rtrim(@p_sigla),
                 @p_ativo,
                 @p_receita,
                 @p_regular
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update ct_cc set
         sq_cc_pai = @p_sq_cc_pai,
         nome      = rtrim(@p_nome),
         descricao = rtrim(@p_descricao),
         sigla     = rtrim(@p_sigla),
         receita   = @p_receita,
         regular   = @p_regular
      where sq_cc = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete ct_cc where sq_cc = @p_chave
   End Else If @p_operacao = 'T' Begin
      -- Ativa registro
      update ct_cc set ativo = 'S' where sq_cc = @p_chave
   End Else If @p_operacao = 'D' Begin
      -- Desativa registro
      update ct_cc set ativo = 'N' where sq_cc = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

