SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetFoneTypeList as
begin
   -- Recupera o tipos de telefones existentes
      select a.sq_tipo_telefone, a.nome, a.padrao, 
             case a.padrao when 'S' then 'Sim' else 'Não' end padraodesc, 
             a.ativo, 
             case a.ativo when 'S' then 'Sim' else 'Não' end ativodesc, b.nome sq_tipo_pessoa
        from co_tipo_telefone a, co_tipo_pessoa b
      where a.sq_tipo_pessoa = b.sq_tipo_pessoa
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

