SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetFoneTypeData (@p_sq_tipo_telefone int) as
begin
   -- Recupera os dados do tipo da telefone
      select * from co_tipo_telefone where sq_tipo_telefone = @p_sq_tipo_telefone
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

