SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetUserTypeData (@p_sq_tipo_pessoa int) as
begin
   -- Recupera os dados do tipo da pessoa
      select * from co_tipo_pessoa where sq_tipo_pessoa = @p_sq_tipo_pessoa
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

