SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO









CREATE       procedure SP_GetSolicData
   (@p_chave     int,
    @p_restricao varchar(50)) as
begin
   If @p_restricao = 'GDGERAL' or @p_restricao = 'GDPGERAL' 
      -- Recupera as demandas que o usuário pode ver
         select a.sq_menu,            a.sq_modulo,                   a.nome,
                a.tramite,            a.ultimo_nivel,                a.p1,
                a.p2,                 a.p3,                          a.p4,
                a.sigla,              a.descentralizado,             a.externo,
                a.acesso_geral,       a.como_funciona,               a.acompanha_fases,
                a.sq_unid_executora,  a.finalidade,                  a.arquivo_proced,
                a.emite_os,           a.consulta_opiniao,            a.envia_email,
                a.exibe_relatorio,    a.vinculacao,                  a.data_hora,
                a.data_hora,          a.envia_dia_util,              a.descricao,
                a.justificativa,
                a1.nome nm_modulo,    a1.sigla sg_modulo,            a1.objetivo_geral,
                b.sq_siw_solicitacao, b.sq_siw_tramite,              b.solicitante,
                b.cadastrador,        b.executor,                    b.descricao,
                b.justificativa,      b.inicio,                      b.fim,
                b.inclusao,           b.ultima_alteracao,            b.conclusao,
                b.valor,              b.data_hora,                   b.opiniao,
                b.sq_solic_pai,       b.sq_unidade,                  b.sq_cidade_origem,
                b.palavra_chave,
                b1.sq_siw_tramite,    b1.nome nm_tramite,            b1.ordem or_tramite, 
                b1.sigla sg_tramite,  b1.ativo, 
                c.sq_tipo_unidade,    c.nome nm_unidade_exec,        c.informal,
                c.vinculada,          c.adm_central,
                d.sq_unidade_resp,    d.assunto,                     d.prioridade,
                d.aviso_prox_conc,    d.dias_aviso,                  d.inicio_real,
                d.fim_real,           d.concluida,                   d.data_conclusao,
                d.nota_conclusao,     d.custo_real,                  d.proponente,
                e.sq_tipo_unidade,    e.nome nm_unidade_resp,        e.informal informal_resp,
                e.vinculada vinc_resp,e.adm_central adm_resp,
                f.nome_resumido nm_sol,
                g.sq_cc,              g.nome cc_nome,                g.sigla cc_sigla,
                h.sq_pais,            h.sq_regiao,                   h.co_uf,
                h.nome nm_cidade,
                i.sq_projeto_etapa,   j.titulo nm_etapa,             k.titulo nm_projeto
           from siw_menu             a 
                   inner        join siw_modulo           a1 on (a.sq_modulo           = a1.sq_modulo)
                   inner        join siw_solicitacao      b  on (a.sq_menu             = b.sq_menu)
                     inner      join siw_tramite          b1 on (b.sq_siw_tramite      = b1.sq_siw_tramite)
                     inner      join gd_demanda           d  on (b.sq_siw_solicitacao  = d.sq_siw_solicitacao)
                       inner    join eo_unidade           e  on (d.sq_unidade_resp     = e.sq_unidade)
                     inner      join co_pessoa            f  on (b.solicitante         = f.sq_pessoa)
                     inner      join co_cidade            h  on (b.sq_cidade_origem    = h.sq_cidade)
                     left outer join ct_cc                g  on (b.sq_cc               = g.sq_cc)
                   left outer   join eo_unidade           c  on (a.sq_unid_executora   = c.sq_unidade)
                   left outer   join pj_etapa_demanda     i  on (b.sq_siw_solicitacao  = i.sq_siw_solicitacao)
                     left outer join pj_projeto_etapa     j  on (i.sq_projeto_etapa    = j.sq_projeto_etapa)
                   left outer join pj_projeto             k  on (b.sq_solic_pai        = k.sq_siw_solicitacao)
          where b.sq_siw_solicitacao       = @p_chave
   Else If @p_restricao = 'PJGERAL'
      -- Recupera as demandas que o usuário pode ver
         select a.sq_menu,            a.sq_modulo,                   a.nome,
                a.tramite,            a.ultimo_nivel,                a.p1,
                a.p2,                 a.p3,                          a.p4,
                a.sigla,              a.descentralizado,             a.externo,
                a.acesso_geral,       a.como_funciona,               a.acompanha_fases,
                a.sq_unid_executora,  a.finalidade,                  a.arquivo_proced,
                a.emite_os,           a.consulta_opiniao,            a.envia_email,
                a.exibe_relatorio,    a.vinculacao,                  a.data_hora,
                a.data_hora,          a.envia_dia_util,              a.descricao,
                a.justificativa,
                a1.nome nm_modulo,    a1.sigla sg_modulo,            a1.objetivo_geral,
                b.sq_siw_solicitacao, b.sq_siw_tramite,              b.solicitante,
                b.cadastrador,        b.executor,                    b.descricao,
                b.justificativa,      b.inicio,                      b.fim,
                b.inclusao,           b.ultima_alteracao,            b.conclusao,
                b.valor,              b.data_hora,                   b.opiniao,
                b.sq_solic_pai,       b.sq_unidade,                  b.sq_cidade_origem,
                b.palavra_chave,
                c.sq_tipo_unidade,    c.nome nm_unidade_exec,        c.informal,
                c.vinculada,          c.adm_central,
                d.sq_unidade_resp,    d.titulo,                      d.prioridade,
                d.aviso_prox_conc,    d.dias_aviso,                  d.inicio_real,
                d.fim_real,           d.concluida,                   d.data_conclusao,
                d.nota_conclusao,     d.custo_real,                  d.proponente,
                e.sq_tipo_unidade,    e.nome nm_unidade_resp,        e.informal informal_resp,
                e.vinculada vinc_resp,e.adm_central adm_resp,
                f.nome_resumido nm_sol,
                g.sq_cc,              g.nome cc_nome,                g.sigla cc_sigla,
                h.sq_pais,            h.sq_regiao,                   h.co_uf,
                h.nome nm_cidade
           from siw_menu             a 
                   inner        join siw_modulo           a1 on (a.sq_modulo           = a1.sq_modulo)
                   inner        join siw_solicitacao      b  on (a.sq_menu             = b.sq_menu)
                     inner      join pj_projeto           d  on (b.sq_siw_solicitacao  = d.sq_siw_solicitacao)
                       inner    join eo_unidade           e  on (d.sq_unidade_resp     = e.sq_unidade)
                     inner      join co_pessoa            f  on (b.solicitante         = f.sq_pessoa)
                     inner      join co_cidade            h  on (b.sq_cidade_origem    = h.sq_cidade)
                     left outer join ct_cc                g  on (b.sq_cc               = g.sq_cc)
                   left outer   join eo_unidade           c  on (a.sq_unid_executora   = c.sq_unidade)
          where b.sq_siw_solicitacao       = @p_chave
end










GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

