SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCoPesTel
   (@p_operacao       varchar(1),
    @p_chave          int          = null,
    @p_pessoa         int          = null,
    @p_ddd            varchar(4)   = null,
    @p_numero         varchar(25)  = null,
    @p_tipo_telefone  int          = null,
    @p_cidade         int          = null,
    @p_padrao         varchar(1)   = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_pessoa_telefone 
         (sq_tipo_telefone,     sq_pessoa,     sq_cidade, 
          ddd,                  numero,        padrao
         )
      values (
          @p_tipo_telefone,      @p_pessoa,    @p_cidade,
          @p_ddd,                @p_numero,    @p_padrao
      )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_pessoa_telefone set
         sq_tipo_telefone     = @p_tipo_telefone,
         ddd                  = @p_ddd,
         numero               = @p_numero,
         sq_cidade            = @p_cidade,
         padrao               = @p_padrao
      where sq_pessoa_telefone= @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_pessoa_telefone where sq_pessoa_telefone = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

