SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO






CREATE    procedure SP_GetSolicInter
   (@p_chave     int,
    @p_chave_aux int=null,
    @p_restricao varchar(50)) as
begin

   Declare @w_modulo varchar(10)

   -- Recupera o módulo da solicitacao para decidir onde buscará os interessados
   select @w_modulo = c.sigla
     from siw_solicitacao a, siw_menu b, siw_modulo c
    where a.sq_menu            = b.sq_menu
      and b.sq_modulo          = c.sq_modulo
      and a.sq_siw_solicitacao = @p_chave
      
   If @w_modulo = 'DM' Begin -- Se for o módulo de demandas
      If @p_restricao = 'LISTA'
         -- Recupera as demandas que o usuário pode ver
            select a.*, b.nome, b.nome_resumido, b.nome_indice, b.nome_resumido_ind
              from gd_demanda_interes  a,
                   co_pessoa           b
             where a.sq_pessoa          = b.sq_pessoa
               and a.sq_siw_solicitacao = @p_chave
      Else If @p_restricao = 'REGISTRO'
         -- Recupera as demandas que o usuário pode ver
            select a.*, b.nome, b.nome_resumido, b.nome_indice, b.nome_resumido_ind
              from gd_demanda_interes a,
                   co_pessoa          b
             where a.sq_pessoa          = b.sq_pessoa
               and a.sq_siw_solicitacao = @p_chave
               and a.sq_pessoa          = @p_chave_aux
   End
   Else If @w_modulo = 'PR' Begin -- Se for o módulo de projetos
      If @p_restricao = 'LISTA'
         -- Recupera as demandas que o usuário pode ver
            select a.*, b.nome, b.nome_resumido, b.nome_indice, b.nome_resumido_ind
              from pj_projeto_interes  a,
                   co_pessoa           b
             where a.sq_pessoa          = b.sq_pessoa
               and a.sq_siw_solicitacao = @p_chave
      Else If @p_restricao = 'REGISTRO'
         -- Recupera as demandas que o usuário pode ver
            select a.*, b.nome, b.nome_resumido, b.nome_indice, b.nome_resumido_ind
              from pj_projeto_interes a,
                   co_pessoa          b
             where a.sq_pessoa          = b.sq_pessoa
               and a.sq_siw_solicitacao = @p_chave
               and a.sq_pessoa          = @p_chave_aux
      End
End







GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

