SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SP_PutProjetoEtapa
   (@p_operacao           varchar(1),
    @p_chave              int           = null,
    @p_chave_aux          int           = null,
    @p_chave_pai          int           = null,
    @p_titulo             varchar(100)  = null,
    @p_descricao          varchar(2000) = null,
    @p_ordem              int           = null,
    @p_inicio             datetime      = null,
    @p_fim                datetime      = null,
    @p_perc_conclusao     int           = null,
    @p_orcamento          numeric(18,2) = null
   ) as
begin
   If @p_operacao = 'I' Begin -- Inclusão
      -- Insere registro na tabela de etapas do projeto
      Insert Into pj_projeto_etapa 
         ( sq_siw_solicitacao, sq_etapa_pai,       ordem,              titulo,
           descricao,          inicio_previsto,    fim_previsto,       perc_conclusao,
           orcamento)
      Values
         ( @p_chave,           @p_chave_pai,       @p_ordem,           @p_titulo,
           @p_descricao,       @p_inicio,          @p_fim,             @p_perc_conclusao,
           @p_orcamento )
   End Else If @p_operacao = 'A' Begin -- Alteração
      -- Atualiza a tabela de etapas do projeto
      Update pj_projeto_etapa set
          sq_etapa_pai     = @p_chave_pai,
          ordem            = @p_ordem,
          titulo           = @p_titulo,
          descricao        = @p_descricao,
          inicio_previsto  = @p_inicio,
          fim_previsto     = @p_fim,
          perc_conclusao   = @p_perc_conclusao,
          orcamento        = @p_orcamento
      where sq_siw_solicitacao = @p_chave
        and sq_projeto_etapa   = @p_chave_aux
   End Else If @p_operacao = 'E' Begin -- Exclusão
      -- Remove o registro na tabela de etapas do projeto
      delete pj_projeto_etapa
       where sq_siw_solicitacao = @p_chave
        and sq_projeto_etapa   = @p_chave_aux
   End
end 






GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

