SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO





CREATE   procedure SP_GetSolicEtapa
   (@p_chave     int         = null,
    @p_chave_aux int         = null,
    @p_restricao varchar(50)
   ) as
begin

   If @p_restricao = 'PAIS'
      -- Se for alteração, evita a exibição do próprio registro e dos seus subordinados
      select a.sq_projeto_etapa, a.titulo
        from pj_projeto_etapa a
       where a.sq_siw_solicitacao = @p_chave
         and a.sq_projeto_etapa not in (select chave from SP_fGetSolicEtapa(@p_chave_aux))
      order by siw.acentos(a.titulo,null)
   Else If @p_restricao = 'LISTA'
      -- Recupera as etapas principais de um projeto
         select a.*
           from pj_projeto_etapa    a
          where a.sq_siw_solicitacao = @p_chave
   Else If @p_restricao = 'LSTNULL'
      -- Recupera as etapas principais de um projeto
         select a.*
           from pj_projeto_etapa    a
          where a.sq_siw_solicitacao = @p_chave
            and a.sq_etapa_pai       is null
   Else If @p_restricao = 'LSTNIVEL'
      -- Recupera as etapas vinculadas a uma etapa do projeto
         select a.*
           from pj_projeto_etapa    a
          where a.sq_siw_solicitacao = @p_chave
            and a.sq_etapa_pai       = @p_chave_aux
   Else If @p_restricao = 'REGISTRO'
      -- Recupera os dados de uma etapa de projeto
         select a.*
           from pj_projeto_etapa   a
          where a.sq_siw_solicitacao = @p_chave
            and a.sq_projeto_etapa   = @p_chave_aux
   Else If @p_restricao = 'FILHOS'
      -- Recupera as etapas subordinadas a outra do mesmo projeto
         select a.*
           from pj_projeto_etapa   a
          where a.sq_etapa_pai       = @p_chave
            and a.sq_projeto_etapa   = @p_chave_aux
End






GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

