SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetSiwCliModLis
   (@p_cliente   int,
    @p_restricao varchar(50)=null
   ) as
begin
   If @p_restricao is null
      -- Recupera a lista de módulos contratados pelo cliente
         select a.sq_pessoa, b.sq_modulo, b.nome, b.sigla, b.objetivo_geral
           from siw_cliente_modulo a, 
                siw_modulo         b 
          where a.sq_modulo = b.sq_modulo 
            and a.sq_pessoa = @p_cliente
         order by nome
   Else If @p_restricao = 'DISPONIVEL'
      -- Recupera a lista de módulos disponíveis para compra pelo cliente
         select a.sq_modulo, a.nome, a.sigla, a.objetivo_geral 
           from siw_modulo a 
          where a.sq_modulo not in (
                                     select t1.sq_modulo
                                       from siw_modulo         t1, 
                                            siw_cliente_modulo t2 
                                      where t1.sq_modulo = t2.sq_modulo 
                                        and t2.sq_pessoa = @p_cliente)
         order by 3
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

