SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutSgPesMod
   (@p_operacao            varchar(1),
    @p_chave               int        = null,
    @p_cliente             int        = null,
    @p_modulo              int        = null,
    @p_endereco            int        = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro em SG_PESSOA_MODULO
      insert into sg_pessoa_modulo (sq_pessoa, cliente, sq_modulo, sq_pessoa_endereco)
           values (@p_Chave, @p_cliente, @p_modulo, @p_endereco)
   End Else If @p_operacao = 'E' Begin
      -- Remove a gestão do módulo  pelo usuário
      delete sg_pessoa_modulo
       where sq_pessoa          = @p_chave
         and cliente            = @p_cliente
         and sq_modulo          = @p_modulo
         and sq_pessoa_endereco = @p_endereco
   End
   
   commit   
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

