SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE procedure SP_GetAddressData
   (@p_chave       int) as
begin
   -- Recupera os dados do endereco informado
      select a.sq_pessoa, 
             c.nome endereco,  
             f.sq_pais, f.co_uf, f.sq_cidade, b.logradouro, 
             b.cep,b.padrao,b.bairro,b.complemento, 
             b.sq_tipo_endereco, b.sq_pessoa_endereco, a.nome pessoa 
      from co_pessoa          a,  
           co_pessoa_endereco b
              left outer join co_cidade f on (b.sq_cidade = f.sq_cidade)
              left outer join co_uf     e on (f.co_uf     = e.co_uf and 
                                              f.sq_pais   = e.sq_pais)
              left outer join co_pais   d on (f.sq_pais   = d.sq_pais),  
           co_tipo_endereco   c 
      where a.sq_pessoa          = b.sq_pessoa 
        and b.sq_tipo_endereco   = c.sq_tipo_endereco 
        and b.sq_pessoa_endereco = @p_chave
end


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

