SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCoPesEnd
   (@p_operacao          varchar(1),
    @p_chave             int         = null,
    @p_pessoa            int         = null,
    @p_logradouro        varchar(60) = null,
    @p_complemento       varchar(20) = null,
    @p_tipo_endereco     int         = null,
    @p_cidade            int         = null,    
    @p_cep               varchar(9)  = null,
    @p_bairro            varchar(30) = null,
    @p_padrao            varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_pessoa_endereco 
         (sq_tipo_endereco,     sq_pessoa,     sq_cidade, 
          logradouro,           complemento,   bairro,
          cep,                  padrao
         )
      values (
          @p_tipo_endereco,     @p_pessoa,     @p_cidade,
          @p_logradouro,        @p_complemento,@p_bairro,
          @p_cep,               @p_padrao
      )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_pessoa_endereco set
         sq_tipo_endereco     = @p_tipo_endereco,
         logradouro           = @p_logradouro,
         cep                  = @p_cep,
         bairro               = @p_bairro,
         complemento          = @p_complemento,
         sq_cidade            = @p_cidade,
         padrao               = @p_padrao
      where sq_pessoa_endereco= @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_pessoa_endereco where sq_pessoa_endereco = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

