SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SIW.SP_GetDefGrpData
   (@p_sq_grupo_deficiencia int) as
begin
   -- Recupera os dados do grupo de deficiência
      select * from co_grupo_defic where sq_grupo_defic = @p_sq_grupo_deficiencia;
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

