SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetCityData
   (@p_sq_cidade  int) as
begin
   -- Recupera os dados da cidade
      select * from co_cidade where sq_cidade = @p_sq_cidade
end


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

