SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO




CREATE   PROCEDURE SP_GetAddressList
   (@p_cliente   int,
    @p_chave     int = null,
    @p_restricao varchar(255) = null)
AS
BEGIN
   If ISNULL(@p_restricao, '') = ''
      -- Recupera todos os endereços, independente do tipo
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a1.sq_tipo_endereco, a1.nome tipo_endereco, a1.email, a1.internet, 
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' endereco,
                a.padrao, a.logradouro, a.sq_cidade, b.nome + '-' + c.co_uf cidade, d.nome,
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) checked,  
                d.nome nm_pais
         from co_pessoa_endereco a, co_tipo_endereco a1, co_cidade b, co_uf c, co_pais d
         where a.sq_cidade        = b.sq_cidade
           and b.co_uf            = c.co_uf
           and b.sq_pais          = c.sq_pais
           and b.sq_pais          = d.sq_pais
           and a.sq_tipo_endereco = a1.sq_tipo_endereco
           and a.sq_pessoa        = @p_cliente
         order by siw.acentos(a.logradouro, default);
   Else if @p_restricao = 'FISICO'
      -- Recupera apenas os endereços físicos
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, d.nome pais,
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' endereco,
                a.padrao, a.logradouro,
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) checked
         from co_pessoa_endereco a, co_tipo_endereco a1, co_cidade b, co_uf c, co_pais d
         where a.sq_cidade        = b.sq_cidade
           and b.co_uf            = c.co_uf
           and b.sq_pais          = c.sq_pais
           and b.sq_pais          = d.sq_pais
           and a.sq_tipo_endereco = a1.sq_tipo_endereco
           and a1.internet        = 'N'
           and a1.email           = 'N'
           and a.sq_pessoa        = @p_cliente
         order by siw.acentos(a.logradouro, default);
   Else if @p_restricao = 'EMAIL'
      -- Recupera apenas os endereços de e-mail
         select a.sq_pessoa_endereco,
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end+')' endereco,
                a.padrao, a.logradouro,
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) checked
         from co_pessoa_endereco a, co_tipo_endereco a1, co_cidade b, co_uf c, co_pais d
         where a.sq_cidade        = b.sq_cidade
           and b.co_uf            = c.co_uf
           and b.sq_pais          = c.sq_pais
           and b.sq_pais          = d.sq_pais
           and a.sq_tipo_endereco = a1.sq_tipo_endereco
           and a1.email           = 'S'
           and a.sq_pessoa        = @p_cliente
         order by siw.acentos(a.logradouro, default);
   Else if @p_restricao = 'INTERNET'
      -- Recupera apenas os endereços Web
         select a.sq_pessoa_endereco,
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end+')' endereco,
                a.padrao, a.logradouro,
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) checked
         from co_pessoa_endereco a, co_tipo_endereco a1, co_cidade b, co_uf c, co_pais d
         where a.sq_cidade        = b.sq_cidade
           and b.co_uf            = c.co_uf
           and b.sq_pais          = c.sq_pais
           and b.sq_pais          = d.sq_pais
           and a.sq_tipo_endereco = a1.sq_tipo_endereco
           and a1.internet        = 'S'
           and a.sq_pessoa        = @p_cliente
         order by siw.acentos(a.logradouro, default);
   Else If @p_restricao = 'LISTALOCALIZACAO'
           -- Recupera a lista de endereços de localização da unidade
          select a.sq_pessoa_endereco, a.sq_cidade, a.logradouro,
                   c.nome + ' - ' + e.co_uf cidade,
                   p.nome, l.nome, l.telefone, l.ramal, l.sq_localizacao,
                   case l.ativo when 'S' then'Sim' else 'Não' end ativo
              from co_pessoa_endereco a,
                   co_cidade          c,
                   co_uf              e,
                   co_pais            p,
                   eo_localizacao     l,
                   eo_unidade         u
             where e.co_uf              = c.co_uf
               and e.sq_pais            = c.sq_pais
               and p.sq_pais            = e.sq_pais
               and e.sq_pais            = c.sq_pais
               and c.sq_cidade          = a.sq_cidade
               and l.sq_pessoa_endereco = a.sq_pessoa_endereco
               and l.sq_unidade         = u.sq_unidade
               and u.sq_unidade         = @p_chave
             order by siw.acentos(a.logradouro, default);
   Else If @p_restricao = 'LOCALIZACAO'
      -- Recupera os dados do endereços da localização da unidade
         select l.nome, l.telefone, l.sq_localizacao,
	              l.ativo, l.telefone2, l.ramal, l.fax, u.sq_unidade,
	              l.sq_pessoa_endereco
           from eo_localizacao l,
                eo_unidade     u
           where l.sq_unidade     = u.sq_unidade
             and l.sq_localizacao = @p_chave


END




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

