SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetVincKindList (@p_cliente int) as
begin
   -- Recupera os tipos de vinculos existentes
      select a.sq_tipo_vinculo, a.nome, a.padrao,
             a.interno, a.contratado, 
             a.ativo, b.nome sq_tipo_pessoa
        from co_tipo_vinculo a, 
             co_tipo_pessoa  b
       where a.sq_tipo_pessoa = b.sq_tipo_pessoa
         and a.cliente        = @p_cliente
     order by a.interno desc, b.nome, a.ordem
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

