SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO




CREATE   procedure SP_GetPersonData
   (@p_sq_pessoa int
   ) as
begin
     select a.*, 
           b.username, b.ativo, b.sq_unidade, b.sq_localizacao, 
           b.gestor_seguranca, b.gestor_sistema, IsNull(b.email,i.email) email,
           c.sq_usuario_central, c.sq_central_fone, c.codigo codigo_central, c.codigo codigo_central,
           d.sq_tipo_vinculo, d.nome nome_vinculo, d.interno, d.ativo vinculo_ativo,
           e.nome unidade, e.sigla, e.email email_unidade,
           f.nome localizacao, f.fax, f.telefone, f.ramal, f.telefone2,
           g.logradouro endereco, (h.nome + '-' + h.co_uf) Cidade
       from co_pessoa                           a  
              left outer join  sg_autenticacao  b on (a.sq_pessoa = b.sq_pessoa)
              left outer join  tt_usuario       c on (a.sq_pessoa = c.usuario)
              left outer join  co_tipo_vinculo  d on (a.sq_tipo_vinculo = d.sq_tipo_vinculo)
              left outer join  eo_unidade       e on (b.sq_unidade = e.sq_unidade)
              left outer join  eo_localizacao   f on (b.sq_localizacao = f.sq_localizacao)
              left outer join  (select w.sq_pessoa, sq_pessoa_endereco, sq_cidade, logradouro
                                  from co_pessoa_endereco          w
                                       inner join co_tipo_endereco x on (w.sq_tipo_endereco   = x.sq_tipo_endereco)
                                       inner join co_pessoa        y on (w.sq_pessoa          = y.sq_pessoa)
                                       inner join co_tipo_pessoa   z on (y.sq_tipo_pessoa     = z.sq_tipo_pessoa)
                                 where x.sq_tipo_pessoa     = z.sq_tipo_pessoa
                                   and x.nome               = 'Comercial'
                                   and x.ativo              = 'S'
                                   and w.padrao             = 'S'
                               )                g on (a.sq_pessoa_pai = g.sq_pessoa)
              left outer join  co_cidade        h on (g.sq_cidade     = h.sq_cidade)
              left outer join  (select w.sq_pessoa, logradouro email
                                  from co_pessoa_endereco            w
                                       inner   join co_tipo_endereco x on (w.sq_tipo_endereco   = x.sq_tipo_endereco)
                                       inner   join co_pessoa        y on (w.sq_pessoa          = y.sq_pessoa)
                                         inner join co_tipo_pessoa   z on (y.sq_tipo_pessoa     = z.sq_tipo_pessoa)
                                 where x.sq_tipo_pessoa     = z.sq_tipo_pessoa
                                   and x.email              = 'S'
                                   and x.ativo              = 'S'
                                   and w.padrao             = 'S'
                               )                i on (a.sq_pessoa = i.sq_pessoa)
      where a.sq_pessoa          = @p_sq_pessoa
end





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

