SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SIW.SP_GetIdiomData
   (@p_sq_idioma int) as
begin
   -- Recupera os dados do Idioma
      select * from co_idioma where sq_idioma = @p_sq_idioma
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

