SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetUnitTypeData (@p_chave int) as
begin
   --Recupera os dados do tipo da unidade
      select nome, sq_tipo_unidade, ativo
        from eo_tipo_unidade 
       where sq_tipo_unidade = @p_chave
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

