SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE procedure SP_PutCOAgencia
   (@p_operacao  varchar(1),
    @p_chave     int         = null,
    @p_sq_banco  int         = null,
    @p_nome      varchar(40) = null,
    @p_codigo    int         = null,
    @p_padrao    varchar(1)  = null,
    @p_ativo     varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_agencia (sq_banco, nome, codigo, padrao, ativo)
      values (
                 @p_sq_banco,
                 rtrim(upper(@p_nome)),
                 rtrim(@p_codigo),
                 @p_padrao,
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_agencia set
         sq_banco  = @p_sq_banco,
         nome      = rtrim(upper(@p_nome)),
         codigo    = rtrim(@p_codigo),
         padrao    = @p_padrao,
         ativo     = @p_ativo
      where sq_agencia = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_agencia where sq_agencia = @p_chave
   End
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

