SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE procedure SP_PutSgPerMen
   (@p_operacao            varchar(1),
    @p_Perfil              int        = null,
    @p_Menu                int        = null,
    @p_Endereco            int        = null
   ) as
begin

   Declare @w_existe   int
   Declare @w_menu     int

   Begin Transaction
   If @p_operacao = 'I' Begin
      -- Insere registro em SG_PERFIL_MENU, para cada endereço da organização
      insert into sg_perfil_menu (sq_tipo_vinculo, sq_menu, sq_pessoa_endereco)
        (select @p_Perfil, a.sq_menu, @p_Endereco
           from siw_menu a
          where a.sq_menu in     (select * from SIW.SP_fPutSgPerMen(@p_menu))
            and a.sq_menu not in (select sq_menu
                                    from sg_perfil_menu
                                   where sq_tipo_vinculo   = @p_perfil
                                    and sq_pessoa_endereco = @p_endereco
                                 )
         )
   End Else If @p_operacao = 'E' Begin
      -- Para todas as opções superiores à informada, executa o bloco abaixo
      Declare c_permissao cursor for
         select * from SIW.SP_fPutSgPerMen(@p_menu)

      Open c_permissao

      Fetch next from c_permissao into @w_menu

      While @@Fetch_Status = 0
      Begin
         -- Verifica se a opção a ser excluída tem opções subordinadas a ela.
         -- Exclui apenas se não tiver, para evitar erro.
         select @w_existe = count(*)
           from siw_menu a, siw_menu_endereco b, sg_perfil_menu c
          where a.sq_menu            = b.sq_menu 
            and b.sq_menu            = c.sq_menu 
            and b.sq_pessoa_endereco = c.sq_pessoa_endereco 
            and c.sq_tipo_vinculo    = @p_perfil
            and b.sq_pessoa_endereco = @p_endereco
            and a.sq_menu            <> @w_menu
            and a.sq_menu            in (select * from SIW.SP_fGetMenuList (@w_menu))

         If @w_existe = 0 Begin
            delete sg_Perfil_menu
             where sq_tipo_vinculo    = @p_perfil
               and sq_menu            = @w_menu
               and sq_pessoa_endereco = @p_endereco
         End
         Fetch next from c_permissao into @w_menu
      End
      Close c_permissao
      Deallocate c_permissao
   End
   Commit
End 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

