SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO





CREATE    procedure SP_PutDemandaEnvio
   (@p_menu               int           = null,
    @p_chave              int           = null,
    @p_pessoa             int           = null,
    @p_tramite            int           = null,
    @p_novo_tramite       int           = null,
    @p_devolucao          varchar(1)    = null,
    @p_observacao         varchar(2000) = null,
    @p_destinatario       int           = null,
    @p_despacho           varchar(2000) = null
   ) as
begin
   Declare @w_reg   int
   Declare @w_chave int
   Set @w_chave = null

   If @p_tramite <> @p_novo_tramite Begin
      -- Se houve mudança de fase, grava o log
      Insert Into siw_solic_log 
         (sq_siw_solicitacao,        sq_pessoa, 
          sq_siw_tramite,            data,
          devolucao,                 observacao
         )
      (Select 
          @p_chave,                  @p_pessoa,
          @p_tramite,                getdate(),
          @p_devolucao,              'Envio da fase "'+a.nome+'" '+' para a fase "'+b.nome+'".'
         from siw_tramite a,
              siw_tramite b
        where a.sq_siw_tramite = @p_tramite
          and b.sq_siw_tramite = @p_novo_tramite
      )
    
      -- Recupera a chave
      select @w_chave = @@IDENTITY

      -- Atualiza a situação da demanda
      Update siw_solicitacao set
         sq_siw_tramite         = @p_novo_tramite
      Where sq_siw_solicitacao = @p_chave
   End

   -- Verifica se o envio é na/para fase de cadastramento. Se for, atualiza o cadastrador.
   If @p_destinatario is  not null Begin
      -- Atualiza o responsável atual pela demanda
      Update siw_solicitacao set executor    = @p_destinatario Where sq_siw_solicitacao = @p_chave

      select w_reg = count(*) from siw_tramite where sq_siw_tramite = IsNull(@p_novo_tramite,@p_tramite) and sigla='CI';
      If @w_reg > 0 Begin
         Update siw_solicitacao set
            cadastrador = @p_destinatario
          Where sq_siw_solicitacao = @p_chave
      End
   End
   
   -- Insere registro na tabela de encaminhamentos da demanda
   Insert into gd_demanda_log 
      (sq_siw_solicitacao,        cadastrador,        destinatario,
       data_inclusao,             observacao,         despacho,
       sq_siw_solic_log
      )
   values (
       @p_chave,                   @p_pessoa,         @p_destinatario,
       getdate(),                  @p_observacao,     @p_despacho,
       @w_chave
    )

end 








GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

