SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SP_GetLinkData
   (@p_cliente   int,
    @p_sg        varchar(10)=null
   ) as
begin
   -- Recupera os dados do link informado e se ele tem links vinculados
      select a.sq_modulo, a.sq_menu,a.nome,a.link,a.ordem,a.p1,a.p2,a.p3,a.p4,a.sigla,a.imagem, IsNull(a.target,'content') target, count(b.sq_menu) Filho
        from siw_menu a
              left outer join siw_menu  b on (a.sq_menu = b.sq_menu_pai)
       where a.sigla         = upper(rtrim(@p_sg))
         and a.ativo         = 'S'
         and a.sq_pessoa     = @p_cliente
      group by a.sq_modulo, a.sq_menu,a.nome,a.link,a.ordem,a.p1,a.p2,a.p3,a.p4,a.sigla,a.imagem,a.target
end 




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

