SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SIW.SP_GetAdressTPList as
begin
   -- Recupera as deficiências existentes
      select a.sq_tipo_endereco, a.nome, a.padrao, 
             case a.padrao when 'S' then 'Sim' else 'Não' end padraodesc,
             case a.email when 'S' then 'Sim' else 'Não' end email, 
             case a.internet when 'S' then 'Sim' else 'Não' end internet,
             a.ativo, 
             case a.ativo when 'S' then 'Sim' else 'Não' end ativodesc, b.nome sq_tipo_pessoa 
        from co_tipo_endereco a, co_tipo_pessoa b  
      where a.sq_tipo_pessoa = b.sq_tipo_pessoa
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

