SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCOTPFONE
   (@p_operacao        varchar(1),
    @p_chave           int         = null,
    @p_sq_tipo_pessoa  int         = null,
    @p_nome            varchar(25) = null,
    @p_padrao          varchar(1)  = null,
    @p_ativo           varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_tipo_telefone (sq_tipo_pessoa, nome, padrao,ativo)
      values (
                 @p_sq_tipo_pessoa,
                 rtrim(@p_nome),
                 @p_padrao,
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_tipo_telefone set
         sq_tipo_pessoa = @p_sq_tipo_pessoa, 
         nome           = rtrim(@p_nome),
         padrao         = @p_padrao,
         ativo          = @p_ativo
      where sq_tipo_telefone = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_tipo_telefone where sq_tipo_telefone = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

