SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE procedure SP_UpdatePassword
   (@p_cliente  int,
    @p_sq_pessoa int,
    @p_valor    varchar(255),
    @p_tipo     varchar(50)
   ) as
begin
   If @p_tipo = 'PASSWORD' Begin
      update sg_autenticacao
         set senha                   = siw.criptografia(upper(@p_valor)),
             ultima_troca_senha      = getdate(),
             tentativas_senha        = 0
       where sq_pessoa               = @p_sq_pessoa
   End Else If @p_tipo = 'SIGNATURE' Begin
      update sg_autenticacao
         set assinatura              = siw.criptografia(upper(@p_valor)),
             ultima_troca_assin      = getdate(),
             tentativas_assin        = 0
       where sq_pessoa               = @p_sq_pessoa
   End
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

