SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SIW.SP_GetKindPersList as
begin
   -- Recupera os tipos de pessoas
      select sq_tipo_pessoa, nome 
        from co_tipo_pessoa 
        order by nome
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

