SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE        procedure SP_PutProjetoGeral
   (@p_operacao           varchar(1),
    @p_chave              int           = null,
    @p_copia              int           = null,
    @p_menu               int           = null,
    @p_unidade            int           = null,
    @p_solicitante        int           = null,
    @p_proponente         varchar(90)   = null,
    @p_cadastrador        int           = null,
    @p_executor           int           = null,
    @p_sqcc               int           = null,
    @p_descricao          varchar(2000) = null,
    @p_justificativa      varchar(2000) = null,
    @p_inicio             datetime      = null,
    @p_fim                datetime      = null,
    @p_valor              numeric(18,2)  = null,
    @p_data_hora          varchar(1)    = null,
    @p_unid_resp          int           = null,
    @p_titulo             varchar(100)  = null,
    @p_prioridade         int           = null,
    @p_aviso              varchar(1)    = null,
    @p_dias               int           = null,
    @p_cidade             int            = null,
    @p_palavra_chave      varchar(90)    = null,
    @p_inicio_real        datetime      = null,
    @p_fim_real           datetime      = null,
    @p_concluida          varchar(1)    = null,
    @p_data_conclusao     datetime      = null,
    @p_nota_conclusao     varchar(2000) = null,
    @p_custo_real         numeric(18,2)  = null,
    @p_opiniao            int           = null,
    @p_chave_nova         int output
   ) as
begin

   Declare @w_chave   int, @w_origem int, @w_destino int
   Declare @w_pointer  int
   Declare @w_log_sol int
   Declare @w_log_esp int
   Declare @i         int

   Declare @w_recurso_pai table (
       recurso               int,
       chave                 int
      )

   Declare @w_etapa table (
       chave                 int,
       sq_chave_destino       int,
       sq_chave_origem        int,
       sq_chave_pai_origem    int
      )
   Declare @w_etapa_pai table (
       etapa                 int,
       chave                 int
      )

   Declare c_recursos cursor for
     select sq_projeto_recurso, sq_siw_solicitacao, nome, finalidade, tipo, descricao
       from pj_projeto_recurso where sq_siw_solicitacao = @p_copia

   Declare c_etapas cursor for
     select sq_projeto_etapa, sq_siw_solicitacao, sq_etapa_pai, ordem,    titulo,         descricao,
            inicio_previsto,  fim_previsto,       inicio_real,  fim_real, perc_conclusao, orcamento
       from pj_projeto_etapa where sq_siw_solicitacao = @p_copia

   Declare c_etapa_recurso cursor for
     select a.sq_projeto_etapa, a.sq_projeto_recurso, a.observacao
          from pj_recurso_etapa              a 
               inner join pj_projeto_recurso b on (a.sq_projeto_recurso = b.sq_projeto_recurso) 
         where b.sq_siw_solicitacao = @p_copia
  

   If @p_operacao = 'I' Begin -- Inclusão
      -- Insere registro em SIW_SOLICITACAO
      insert into siw_solicitacao (
         sq_menu,            sq_siw_tramite,    solicitante, 
         cadastrador,        executor,          descricao,           justificativa, 
         inicio,             fim,               inclusao,            ultima_alteracao, 
         conclusao,          valor,             opiniao,             data_hora, 
         sq_unidade,         sq_cc,             sq_cidade_origem,    palavra_chave)
      (select 
         @p_menu,             a.sq_siw_tramite, @p_solicitante,
         @p_cadastrador,      @p_executor,      @p_descricao,        @p_justificativa,
         @p_inicio,           @p_fim,           getdate(),           getdate(),
         null,                @p_valor,         null,                @p_data_hora,
         @p_unidade,          @p_sqcc,          @p_cidade,           @p_palavra_chave
         from siw_tramite a
        where a.sq_menu = @p_menu
          and a.sigla   = 'CI'
      )

      -- Recupera a chave utilizada
      Select @w_chave = @@IDENTITY
       
      -- Insere registro em pj_projeto
      Insert into pj_projeto
         ( sq_siw_solicitacao,  sq_unidade_resp, titulo,            prioridade,
           aviso_prox_conc,     dias_aviso,      inicio_real,       fim_real,
           concluida,           data_conclusao,  nota_conclusao,    custo_real,
           proponente
         )
      (select
           @w_chave,            @p_unid_resp,    @p_titulo,         @p_prioridade,
           @p_aviso,            @p_dias,         null,              null,
           'N',                 null,            null,              0,
           @p_proponente
      )

      -- Insere log da solicitação
      Insert Into siw_solic_log 
         (sq_siw_solicitacao,        sq_pessoa, 
          sq_siw_tramite,            data,
          devolucao,                 observacao
         )
      (select 
          @w_chave,                  @p_cadastrador,
          a.sq_siw_tramite,          getdate(),
          'N',                       'Cadastramento inicial'
         from siw_tramite a
        where a.sq_menu = @p_menu
          and a.sigla   = 'CI'
      )
           
      -- Se a demanda foi copiada de outra, grava os dados complementares 
      If @p_copia is not null Begin
         -- Insere registro na tabela de interessados 
         Insert Into pj_projeto_interes 
            ( sq_pessoa,   sq_siw_solicitacao,   tipo_visao,    envia_email ) 
         (Select 
              a.sq_pessoa, @w_chave,             a.tipo_visao,  a.envia_email 
           from pj_projeto_interes a 
          where a.sq_siw_solicitacao = @p_copia 
         )

         -- Insere registro na tabela de áreas envolvidas 
         Insert Into pj_projeto_envolv 
            ( sq_unidade,   sq_siw_solicitacao,   papel ) 
         (Select 
              a.sq_unidade, @w_chave,             a.papel 
            from pj_projeto_envolv a 
           where a.sq_siw_solicitacao = @p_copia 
         )

         -- Insere recursos do projeto
         Declare @sq_projeto_recurso int,           @sq_siw_solicitacao int, @nome           varchar(100)
         Declare @finalidade         varchar(2000), @tipo               int, @descricao      varchar(2000)

         Open c_recursos
         Fetch next from c_recursos into
            @sq_projeto_recurso, @sq_siw_solicitacao, @nome, @finalidade, @tipo, @descricao
        
         While @@Fetch_Status = 0
         Begin
            -- insere o recurso 
            Insert Into pj_projeto_recurso 
               ( sq_siw_solicitacao, nome,   tipo,  descricao,  finalidade ) 
            Values 
               ( @w_chave,           @nome,  @tipo, @descricao, @finalidade)
    
            -- Recupera chave primária
            Set @w_pointer = @@IDENTITY
    
            -- Guarda pai do registro original 
            insert into @w_recurso_pai values (@sq_projeto_recurso, @w_pointer)
    
            Fetch next from c_recursos into
               @sq_projeto_recurso, @sq_siw_solicitacao, @nome, @finalidade, @tipo, @descricao
         End
         Close c_recursos
         Deallocate c_recursos
    
         -- Insere as etapas do projeto
         Declare @sq_projeto_etapa   int,      @sq_etapa_pai       int
         Declare @ordem              int,      @titulo             varchar(100)
         Declare @inicio_previsto    datetime, @fim_previsto       datetime,     @perc_conclusao decimal(18,2)
         Declare @inicio_real        datetime, @fim_real           datetime,     @orcamento      decimal(18,2)

         Open c_etapas

         Fetch next from c_etapas into
            @sq_projeto_etapa, @sq_siw_solicitacao, @sq_etapa_pai, @ordem,    @titulo,         @descricao,
            @inicio_previsto,  @fim_previsto,       @inicio_real,  @fim_real, @perc_conclusao, @orcamento
        
         Set @i = 0

         While @@Fetch_Status = 0
         Begin
            -- insere a etapa
            Insert Into pj_projeto_etapa 
               ( sq_siw_solicitacao,       ordem,              titulo,      descricao,
                 inicio_previsto,          fim_previsto,       inicio_real, fim_real,
                 perc_conclusao,           orcamento ) 
            Values 
               ( @w_chave,                 @ordem,             @titulo,      @descricao,
                 @inicio_previsto,         @fim_previsto,      @inicio_real, @fim_real,
                 @perc_conclusao,          @orcamento )

            -- Recupera chave primária
            Set @w_pointer = @@IDENTITY
    
            -- Guarda pai do registro original 
            Set @i = @i + 1
            insert into @w_etapa values (@i, @w_pointer, @sq_projeto_etapa, @sq_etapa_pai)
            insert into @w_etapa_pai values (@sq_projeto_etapa, @w_pointer)
    
            Fetch next from c_etapas into
               @sq_projeto_etapa, @sq_siw_solicitacao, @sq_etapa_pai, @ordem,    @titulo,         @descricao,
               @inicio_previsto,  @fim_previsto,       @inicio_real,  @fim_real, @perc_conclusao, @orcamento
         End
         Close c_etapas
         Deallocate c_etapas
    
         -- Acerta o vínculo entre os registros
         Set @i = 0
         While @i <= (select count(*) from @w_etapa)
         Begin
            select @w_origem = sq_chave_pai_origem, @w_destino = sq_chave_destino
              from @w_etapa
             where chave = @i
            If @w_origem is not null Begin
               update pj_projeto_etapa
                  set sq_etapa_pai = (select chave from @w_etapa_pai where etapa = @w_origem)
                where sq_projeto_etapa = @w_destino
            End
            Set @i = @i + 1
         End

         -- Insere o relacionamento entre etapas e recursos 
         Declare @observacao varchar(500)

         Open c_etapa_recurso
         Fetch next from c_etapa_recurso into @sq_projeto_etapa, @sq_projeto_recurso, @observacao
        
         While @@Fetch_Status = 0
         Begin
            Insert Into pj_recurso_etapa 
               ( sq_projeto_etapa,                   sq_projeto_recurso,                     observacao ) 
            (select a.chave, b.chave, @observacao
               from @w_etapa_pai a, @w_recurso_pai b
              where a.etapa   = @sq_projeto_etapa
                and b.recurso = @sq_projeto_recurso
            )
    
            Fetch next from c_etapa_recurso into @sq_projeto_etapa, @sq_projeto_recurso, @observacao
         End
         Close c_etapa_recurso
         Deallocate c_etapa_recurso
      End

   End Else If @p_operacao = 'A' Begin -- Alteração
      -- Atualiza a tabela de solicitações
      Update siw_solicitacao set
          sq_cc            = @p_sqcc,
          solicitante      = @p_solicitante,
          executor         = @p_executor,
          descricao        = rtrim(@p_descricao), 
          justificativa    = rtrim(@p_justificativa),
          inicio           = @p_inicio,
          fim              = @p_fim,
          ultima_alteracao = getdate(),
          valor            = @p_valor,
          sq_cidade_origem = @p_cidade,
          palavra_chave    = @p_palavra_chave
      where sq_siw_solicitacao = @p_chave
      
      -- Atualiza a tabela de projetos
      Update pj_projeto set
          sq_unidade_resp = @p_unid_resp,
          proponente       = @p_proponente,
          titulo           = rtrim(@p_titulo),
          prioridade      = @p_prioridade,
          aviso_prox_conc = @p_aviso,
          dias_aviso      = @p_dias,
          inicio_real     = @p_inicio_real
      where sq_siw_solicitacao = @p_chave
   End Else If @p_operacao = 'E' Begin -- Exclusão
      -- Verifica a quantidade de logs da solicitação
      select @w_log_sol = count(*) from siw_solic_log  where sq_siw_solicitacao = @p_chave
      select @w_log_esp = count(*) from pj_projeto_log where sq_siw_solicitacao = @p_chave
      
      -- Se não foi enviada para outra fase nem para outra pessoa, exclui fisicamente.
      -- Caso contrário, coloca a solicitação como cancelada.
      If (@w_log_sol + @w_log_esp) > 1 Begin
         -- Insere log de cancelamento
         Insert Into siw_solic_log 
            (sq_siw_solicitacao,       sq_pessoa,            sq_siw_tramite,
             data,                     devolucao,            observacao
            )
         (select 
             a.sq_siw_solicitacao,     @p_cadastrador,       a.sq_siw_tramite,
             getdate(),                'N',                  'Cancelamento'
            from siw_solicitacao a
           where a.sq_siw_solicitacao = @p_chave
         )
         
         -- Atualiza a situação do projeto
         update pj_projeto set concluida = 'S' where sq_siw_solicitacao = @p_chave

         -- Recupera a chave que indica que a solicitação está cancelada
         select @w_chave = a.sq_siw_tramite from siw_tramite a where a.sq_menu = @p_menu and a.sigla = 'CA'
         
         -- Atualiza a situação da solicitação
         update siw_solicitacao set sq_siw_tramite = @w_chave where sq_siw_solicitacao = @p_chave
      End Else Begin
         -- Remove os registros vinculados à demanda
         delete pj_projeto_envolv  where sq_siw_solicitacao = @p_chave
         delete pj_projeto_interes where sq_siw_solicitacao = @p_chave
         delete pj_recurso_etapa   where sq_projeto_etapa in (select sq_projeto_etapa from pj_projeto_etapa where sq_siw_solicitacao = @p_chave)
         delete pj_projeto_etapa   where sq_siw_solicitacao = @p_chave
         delete pj_projeto_recurso where sq_siw_solicitacao = @p_chave

         -- Remove o registro na tabela de demandas
         delete pj_projeto where sq_siw_solicitacao = @p_chave
            
         -- Remove o log da solicitação
         delete siw_solic_log where sq_siw_solicitacao = @p_chave

         -- Remove o registro na tabela de solicitações
         delete siw_solicitacao where sq_siw_solicitacao = @p_chave
      End
   End Else If @p_operacao = 'C' Begin -- Conclusão
      -- Atualiza a tabela de solicitações com os dados da conclusão
      Update siw_solicitacao set
          conclusao        = @p_data_conclusao,
          ultima_alteracao = getdate(),
          sq_siw_tramite   = (select sq_siw_tramite from siw_tramite where sq_menu = @p_menu and sigla='AT')
      where sq_siw_solicitacao = @p_chave
      
      -- Atualiza a tabela de projetos com os dados da conclusão
      Update pj_projeto set
          fim_real        = @p_fim_real,
          concluida       = @p_concluida,
          data_conclusao  = @p_data_conclusao,
          nota_conclusao  = rtrim(@p_nota_conclusao),
          custo_real      = @p_custo_real
      where sq_siw_solicitacao = @p_chave
   End Else If @p_operacao = 'O' Begin -- Opinião
      -- Atualiza a tabela de solicitações com a opinião do solicitante
      Update siw_solicitacao set
          opiniao         = @p_opiniao
      where sq_siw_solicitacao = @p_chave
   End
   
   -- Devolve a chave
   If @p_chave is not null
      Set @p_chave_nova = @p_chave
   Else
      Set @p_chave_nova = @w_chave
end









GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

