SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetUorgList
   (@p_cliente   int,
    @p_chave     int        =null,
    @p_restricao varchar(50)=null) as
begin
   If @p_restricao is null Begin
      -- Recupera as unidades organizacionais do cliente
         select a.sq_unidade sq_unidade,a.sq_unidade_pai, a.nome, a.sigla, a.informal, a.adm_central, a.vinculada, 
                a.codigo, a.sq_unidade_pai, a.ordem, IsNull(d.nome,'Informar') responsavel, a.ativo,
                a.sq_unidade_gestora, a.sq_unid_pagadora, a.unidade_gestora, a.unidade_pagadora
           from eo_unidade             a  left outer join eo_unidade_resp c on (a.sq_unidade = c.sq_unidade and 
                                                                                c.tipo_respons = 'T' and c.fim is null)
                                          left outer join co_pessoa d on (c.sq_pessoa = d.sq_pessoa),                                      
                co_pessoa_endereco     b
          where a.sq_pessoa_endereco        = b.sq_pessoa_endereco
            and b.sq_pessoa                 = @p_cliente
         order by a.nome
   End Else Begin
      If upper(@p_restricao) = 'IS NULL' Begin
            select a.sq_unidade,a.sq_unidade_pai, a.nome, a.sigla, a.informal, a.adm_central, a.vinculada, 
                   a.codigo, a.sq_unidade_pai, a.ordem, a.ativo, IsNull(d.nome,'Informar') responsavel
              from eo_unidade             a  left outer join eo_unidade_resp c on (a.sq_unidade = c.sq_unidade
                                                                               and c.tipo_respons = 'T'
                                                                               and c.fim is null)
                                             left outer join co_pessoa d on (c.sq_pessoa = d.sq_pessoa),                                   
                   co_pessoa_endereco     b
             where a.sq_pessoa_endereco        = b.sq_pessoa_endereco
               and a.sq_unidade_pai            is null
               and b.sq_pessoa                 = @p_cliente
            order by a.nome
      End Else Begin
            select a.sq_unidade,a.sq_unidade_pai, a.nome, a.sigla, a.informal, a.adm_central, a.vinculada, 
                   a.codigo, a.sq_unidade_pai, a.ordem, a.ativo, IsNull(d.nome,'Informar') responsavel
              from eo_unidade             a left outer join eo_unidade_resp c on (a.sq_unidade = c.sq_unidade
                                                                              and c.tipo_respons = 'T'
                                                                              and c.fim is null)
                                            left outer join co_pessoa d on (c.sq_pessoa = d.sq_pessoa),                                   
                   co_pessoa_endereco     b
             where a.sq_pessoa_endereco        = b.sq_pessoa_endereco
               and a.sq_unidade_pai            = @p_chave
               and b.sq_pessoa                 = @p_cliente
            order by a.nome
      End
   End
end


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

