SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCOBanco
   (@p_operacao                 varchar(1),
    @p_chave                    int         = null,
    @p_nome                     varchar(30) = null,
    @p_codigo                   varchar(30) = null,
    @p_padrao                   varchar(1)  = null,
    @p_ativo                    varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_banco (nome, codigo, padrao, ativo)
      values (
                 rtrim(upper(@p_nome)),
                 rtrim(@p_codigo),                 
                 @p_padrao,
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_banco set
         nome                 = rtrim(upper(@p_nome)),
         codigo               = rtrim(@p_codigo),
         padrao               = @p_padrao,
         ativo                = @p_ativo
      where sq_banco    = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_banco where sq_banco = @p_chave
   End
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

