SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetLinkSubMenu
   (@p_cliente   int,
    @p_sg        varchar(10)=null
   ) as
begin
   -- Recupera os links do sub-menu
      select a.sq_menu menu_pai, b.sq_menu,b.nome,b.link,b.ordem,b.p1,b.p2,b.p3,b.p4,b.sigla,b.imagem,b.externo,IsNull(b.target,'content') target
        from siw_menu a, siw_menu b 
       where a.sq_menu          = b.sq_menu_pai
         and b.ativo            = 'S'
         and b.ultimo_nivel     = 'S'
         and a.sq_pessoa        = @p_cliente
         and a.sigla            = @p_sg
         order by b.ordem, b.nome
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

