SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_GetFoneList
   (@p_cliente   int,
    @p_chave     int        =null,
    @p_restricao varchar(50)=null) as
begin
   If @p_restricao is null Begin
      -- Recupera todos os telefones, independente do tipo
         select a.sq_pessoa, 
                b.sq_pessoa_telefone, b.numero,b.sq_pessoa_telefone, b.ddd, b.padrao,
                c.sq_tipo_telefone, Substring(c.nome,1,1)+lower(substring(c.nome,2,25)) tipo_telefone,
                d.nome pais, e.co_uf, f.nome cidade
           from co_pessoa          a,  
                co_pessoa_telefone b
                   left outer join co_cidade  f on (b.sq_cidade = f.sq_cidade)
                   left outer join co_uf      e on (f.co_uf = e.co_uf)
                   left outer join co_pais    d on (e.sq_pais = d.sq_pais),
                co_tipo_telefone   c
          where a.sq_pessoa        = b.sq_pessoa  
            and b.sq_tipo_telefone = c.sq_tipo_telefone 
            and a.sq_pessoa        = @p_cliente
         order by c.nome, b.numero
   End
end


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

