SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


--
-- Creating procedure SP_PUTCOFORM
-- ===============================
--
create procedure SP_PutCOForm
   (@p_operacao  varchar(1),
    @p_chave     int         = null,
    @p_tipo      varchar(1)  = null,
    @p_nome      varchar(50) = null,
    @p_ordem     int         = null,
    @p_ativo     varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_formacao (tipo, nome, ordem,ativo) 
      values (
                 @p_tipo, 
                 rtrim(@p_nome),
                 @p_ordem,
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_formacao set
         tipo      = @p_tipo,      
         nome      = rtrim(@p_nome),
         ordem     = @p_ordem,
         ativo     = @p_ativo
      where sq_formacao = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_formacao where sq_formacao = @p_chave
   End
end





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

