SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO








CREATE      procedure SP_GetSolicLog
   (@p_chave     int,
    @p_chave_aux int=null,
    @p_restricao varchar(50)) as
begin

   Declare @w_modulo varchar(10)

   -- Recupera o módulo da solicitacao para decidir onde buscará os interessados
   select @w_modulo = c.sigla
     from siw_solicitacao a, siw_menu b, siw_modulo c
    where a.sq_menu            = b.sq_menu
      and b.sq_modulo          = c.sq_modulo
      and a.sq_siw_solicitacao = @p_chave
      
   If @w_modulo = 'DM' Begin -- Se for o módulo de demandas
      If @p_restricao = 'LISTA'
         -- Recupera os encaminhamentos de uma demanda
            select h.sq_demanda_log, a.sq_siw_solic_log, a.sq_siw_tramite,a.data, 
                   case when h.sq_demanda_log is null 
                      then a.observacao 
                      else a.observacao+char(13)+char(10)+'DESPACHO: '+char(13)+char(10)+h.despacho
                      end despacho,
                   c.nome_resumido responsavel,
                   i.nome_resumido destinatario,
                   f.nome fase, 
                   e.nome tramite
              from siw_solic_log   a
                      inner      join co_pessoa       c on (a.sq_pessoa          = c.sq_pessoa)
                      inner      join siw_tramite     e on (a.sq_siw_tramite     = e.sq_siw_tramite)
                      inner      join siw_solicitacao g on (a.sq_siw_solicitacao = g.sq_siw_solicitacao)
                        inner    join siw_tramite     f on (g.sq_siw_tramite     = f.sq_siw_tramite)
                      left outer join gd_demanda_log  h on (a.sq_siw_solic_log   = h.sq_siw_solic_log)
                        left outer join co_pessoa     i on (h.destinatario       = i.sq_pessoa)
             where a.sq_siw_solicitacao = @p_chave
            UNION
            select b.sq_demanda_log, b.sq_siw_solic_log, null, b.data_inclusao,  IsNull(b.despacho, b.observacao),
                   c.nome_resumido responsavel,
                   d.nome_resumido destinatario,
                   f.nome fase, f.nome tramite
              from gd_demanda_log  b 
                      left outer join co_pessoa       d on (b.destinatario       = d.sq_pessoa)
                      inner      join co_pessoa       c on (b.cadastrador        = c.sq_pessoa)
                      inner      join siw_solicitacao g on (b.sq_siw_solicitacao = g.sq_siw_solicitacao)
                        inner    join siw_tramite     f on (g.sq_siw_tramite     = f.sq_siw_tramite)
             where b.sq_siw_solic_log   is null
               and b.sq_siw_solicitacao = @p_chave
   End
   Else If @w_modulo = 'PR' Begin -- Se for o módulo de projetos
      If @p_restricao = 'LISTA'
         -- Recupera os encaminhamentos de uma demanda
            select h.sq_projeto_log, a.sq_siw_solic_log, a.sq_siw_tramite,a.data, 
                   case when h.sq_projeto_log is null 
                      then a.observacao 
                      else a.observacao+char(13)+char(10)+'DESPACHO: '+char(13)+char(10)+h.despacho
                      end despacho,
                   c.nome_resumido responsavel,
                   i.nome_resumido destinatario,
                   f.nome fase, 
                   e.nome tramite
              from siw_solic_log   a
                      inner      join co_pessoa       c on (a.sq_pessoa          = c.sq_pessoa)
                      inner      join siw_tramite     e on (a.sq_siw_tramite     = e.sq_siw_tramite)
                      inner      join siw_solicitacao g on (a.sq_siw_solicitacao = g.sq_siw_solicitacao)
                        inner    join siw_tramite     f on (g.sq_siw_tramite     = f.sq_siw_tramite)
                      left outer join pj_projeto_log  h on (a.sq_siw_solic_log   = h.sq_siw_solic_log)
                        left outer join co_pessoa     i on (h.destinatario       = i.sq_pessoa)
             where a.sq_siw_solicitacao = @p_chave
            UNION
            select b.sq_projeto_log, b.sq_siw_solic_log, null, b.data_inclusao,  IsNull(b.despacho, b.observacao),
                   c.nome_resumido responsavel,
                   d.nome_resumido destinatario,
                   f.nome fase, f.nome tramite
              from pj_projeto_log  b 
                      left outer join co_pessoa       d on (b.destinatario       = d.sq_pessoa)
                      inner      join co_pessoa       c on (b.cadastrador        = c.sq_pessoa)
                      inner      join siw_solicitacao g on (b.sq_siw_solicitacao = g.sq_siw_solicitacao)
                        inner    join siw_tramite     f on (g.sq_siw_tramite     = f.sq_siw_tramite)
             where b.sq_siw_solic_log   is null
               and b.sq_siw_solicitacao = @p_chave
      End
End









GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

