SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SP_GetRegionList
   (@p_pais      int,
    @p_tipo      Varchar(10)=null) as
begin
If @p_tipo = 'N'
   -- Recupera a lista daas regiões existentes
      select a.sq_regiao, a.nome, a.nome nome, a.ordem, a.sigla, b.nome nome_pais, b.sq_pais sq_pais, b.padrao,
             b.padrao padrao, a.sq_regiao sq_regiao
        from co_regiao a, co_pais b
       where a.sq_pais = b.sq_pais 
Else
   -- Recupera as regiões de um determinado pais
      select * 
        from co_regiao 
       where sq_pais = @p_pais
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

