SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutSiwMenEnd
   (@p_operacao            varchar(1),
    @p_menu                int        = null,
    @p_endereco            int        = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro em SIW_MENU_ENDERECO
      insert into siw_menu_endereco(sq_menu, sq_pessoa_endereco)
           values (@p_menu, @p_endereco)
   End Else If @p_operacao = 'E' Begin
      -- Remove a opção de todos os endereços da organização
      delete siw_menu_endereco where sq_menu = @p_menu
   End
   
   commit   
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

