SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SIW.SP_GetBankHousData
   (@p_sq_agencia int) as
begin
   -- Recupera os dados da agência bancária
   select * from co_agencia where sq_agencia = @p_sq_agencia
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

