SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SIW.SP_GetBankData
   (@p_chave      int) as
begin
   -- Recupera os dados do banco informado
   select * from co_banco where sq_banco = @p_chave
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

