SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



CREATE  procedure SIW.SP_GetBankList as
begin
   -- Recupera os bancos existentes
      select sq_banco, codigo, nome, ativo, codigo + ' - ' + nome descricao, padrao 
        from co_banco 
      order by padrao desc, codigo
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

