SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure SP_PutCOPais
   (@p_operacao                 varchar(1),
    @p_chave                    int         = null,
    @p_nome                     varchar(60) = null,
    @p_ativo                    varchar(1)  = null,
    @p_padrao                   varchar(1)  = null,
    @p_ddi                      varchar(10) = null,
    @p_sigla                    varchar(3)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_pais (nome, ativo, padrao, ddi, sigla)
      values (
                 rtrim(@p_nome),
                 @p_ativo,
                 @p_padrao,                 
                 @p_ddi,
                 @p_sigla
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_pais set
         nome                 = rtrim(@p_nome),
         ativo                = @p_ativo,
         padrao               = @p_padrao,
         ddi                  = @p_ddi,
         sigla                = rtrim(@p_sigla)
      where sq_pais    = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_pais where sq_pais = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

