SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


CREATE procedure SP_PutCOEtnia
   (@p_operacao        varchar(1),
    @p_chave           int         = null,
    @p_nome            varchar(10) = null,
    @p_codigo_siape    int         = null,
    @p_ativo           varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_etnia (nome, codigo_siape,ativo)
      values (
                 rtrim(@p_nome),
                 @p_codigo_siape,
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_etnia set
         nome            = rtrim(@p_nome),
         codigo_siape    = @p_codigo_siape,
         ativo           = @p_ativo
      where sq_etnia = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_etnia where sq_etnia = @p_chave
   End
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

