SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO




CREATE   procedure siw.SP_GetCityList
   (@p_pais      int,
    @p_estado    varchar(3)) as
begin
   -- Recupera as cidades existentes
      select a.sq_cidade, a.sq_cidade sq_cidade, b.co_uf, c.nome sq_pais, a.nome, IsNull(a.ddd,'-') ddd,
             case a.capital when 'S' then 'Sim' else 'Não' end capital, 
             IsNull(a.codigo_ibge,'-') codigo_ibge
        from co_cidade a, co_uf b, co_pais c
       where a.co_uf   = b.co_uf 
         and a.sq_pais = b.sq_pais
         and b.sq_pais = c.sq_pais
         and b.co_uf   = @p_estado
         and c.sq_pais = @p_pais;
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

