SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetCountryList as
begin
   -- Recupera os paises existentes
      select sq_pais, nome, IsNull(sigla,'-') sigla, ddi,
             ativo, 
             case ativo when 'S' then 'Sim' else 'Não' end ativodesc, 
             padrao, 
             case padrao when 'S' then 'Sim' else 'Não' end padraodesc
        from co_pais
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

