alter procedure dbo.SP_GetAddressList
   (@p_cliente       int,
    @p_chave         int         = null,
    @p_restricao     varchar(20) = null,
    @p_tipo_endereco int         = null)
AS
BEGIN
   If ISNULL(@p_restricao, '') = ''
      -- Recupera todos os endereços, independente do tipo
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a.padrao, a.logradouro, a.sq_cidade, 
                a1.sq_tipo_endereco, a1.nome as tipo_endereco, a1.email, a1.internet, 
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' as endereco,
                b.nome+', '+c.nome+', '+d.nome as google,
                b.nome + '-' + c.co_uf as cidade, 
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) as checked,
                d.nome as nm_pais
           from co_pessoa_endereco            a
                inner   join co_tipo_endereco a1 on (a.sq_tipo_endereco = a1.sq_tipo_endereco)
                inner   join co_cidade        b  on (a.sq_cidade        = b.sq_cidade)
                  inner join co_uf            c  on (b.co_uf            = c.co_uf and
                                                     b.sq_pais          = c.sq_pais
                                                    )
                  inner join co_pais          d  on (b.sq_pais          = d.sq_pais)
          where a.sq_pessoa = @p_cliente
         order by dbo.acentos(a.logradouro);
   Else if @p_restricao = 'FISICO'
      -- Recupera apenas os endereços físicos
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a1.sq_tipo_endereco, a1.nome tipo_endereco, a1.email, a1.internet, 
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' as endereco,
                a.padrao, a.logradouro, a.sq_cidade, b.nome + '-' + c.co_uf as cidade, 
                b.nome+', '+c.nome+', '+d.nome as google,
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) as checked,
                d.nome as nm_pais,
                f.sq_siw_coordenada, f.nome as nm_coordenada, f.latitude, f.longitude, f.icone, f.tipo
           from co_pessoa_endereco                   a
                inner   join co_tipo_endereco        a1 on (a.sq_tipo_endereco  = a1.sq_tipo_endereco and
                                                            a1.internet         = 'N' and
                                                            a1.email            = 'N'
                                                           )
                inner   join co_cidade               b  on (a.sq_cidade         = b.sq_cidade)
                  inner join co_uf                   c  on (b.co_uf             = c.co_uf and
                                                            b.sq_pais           = c.sq_pais
                                                           )
                  inner join co_pais                 d  on (b.sq_pais           = d.sq_pais)
                left    join siw_coordenada_endereco e on (a.sq_pessoa_endereco = e.sq_pessoa_endereco)
                  left  join siw_coordenada          f on (e.sq_siw_coordenada  = f.sq_siw_coordenada)
          where a.sq_pessoa = @p_cliente
           and (@p_chave is null or (@p_chave is not null and a.sq_pessoa_endereco = @p_chave))
         order by dbo.acentos(a.logradouro);
   Else if @p_restricao = 'EMAIL'
      -- Recupera apenas os endereços de e-mail
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a1.sq_tipo_endereco, a1.nome tipo_endereco, a1.email, a1.internet, 
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' as endereco,
                a.padrao, a.logradouro, a.sq_cidade, b.nome + '-' + c.co_uf as cidade, 
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) as checked,
                d.nome as nm_pais
           from co_pessoa_endereco              a
                inner     join co_tipo_endereco a1 on (a.sq_tipo_endereco = a1.sq_tipo_endereco and
                                                       a1.email           = 'S'
                                                      )
                  inner   join co_cidade        b  on (a.sq_cidade        = b.sq_cidade)
                    inner join co_uf            c  on (b.co_uf            = c.co_uf and
                                                       b.sq_pais          = c.sq_pais
                                                      )
                    inner join co_pais          d  on (b.sq_pais          = d.sq_pais)
          where a.sq_pessoa = @p_cliente
         order by dbo.acentos(a.logradouro);
   Else if @p_restricao = 'INTERNET'
      -- Recupera apenas os endereços Web
        select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a1.sq_tipo_endereco, a1.nome tipo_endereco, a1.email, a1.internet, 
               a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' as endereco,
               a.padrao, a.logradouro, a.sq_cidade, b.nome + '-' + c.co_uf as cidade, 
               (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) as checked,
               d.nome as nm_pais
          from co_pessoa_endereco              a
               inner     join co_tipo_endereco a1 on (a.sq_tipo_endereco = a1.sq_tipo_endereco and
                                                      a1.internet        = 'S'
                                                     )
                 inner   join co_cidade        b  on (a.sq_cidade        = b.sq_cidade)
                   inner join co_uf            c  on (b.co_uf            = c.co_uf and
                                                      b.sq_pais          = c.sq_pais
                                                     )
                   inner join co_pais          d  on (b.sq_pais          = d.sq_pais)
         where a.sq_pessoa = @p_cliente
        order by dbo.acentos(a.logradouro);
   Else If @p_restricao = 'LISTALOCALIZACAO'
           -- Recupera a lista de endereços de localização da unidade
          select a.sq_pessoa_endereco, a.sq_cidade, a.logradouro,
                 c.nome + ' - ' + e.co_uf as cidade, 
                 l.nome, l.telefone, l.telefone2, l.ramal, l.fax, l.sq_localizacao, 
                 p.nome nm_pais, 
                 case l.ativo when 'S' then'Sim' else 'Não' end as ativo
            from co_pessoa_endereco          a
                 inner   join co_cidade      c on (a.sq_cidade          = c.sq_cidade)
                   inner join co_uf          e on (c.co_uf              = e.co_uf and
                                                   c.sq_pais            = e.sq_pais
                                                  ) 
                   inner join co_pais        p on (e.sq_pais            = p.sq_pais) 
                 inner   join eo_localizacao l on (a.sq_pessoa_endereco = l.sq_pessoa_endereco) 
                   inner join eo_unidade     u on (l.sq_unidade         = u.sq_unidade)
          where u.sq_unidade         = @p_chave
          order by dbo.acentos(a.logradouro);
   Else If @p_restricao = 'LOCALIZACAO'
      -- Recupera os dados do endereços da localização da unidade
         select l.nome, l.telefone, l.sq_localizacao,
	              l.ativo, l.telefone2, l.ramal, l.fax, u.sq_unidade, 
	              l.sq_pessoa_endereco 
           from eo_localizacao l, 
                eo_unidade     u 
           where l.sq_unidade     = u.sq_unidade 
             and l.sq_localizacao = @p_chave;
   Else If @p_restricao = 'EMAILINTERNET'
      -- Recupera os endereços de email e internet
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a1.sq_tipo_endereco, a1.nome tipo_endereco, a1.email, a1.internet, 
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' as endereco,
                a.padrao, a.logradouro, a.sq_cidade, b.nome + '-' + c.co_uf as cidade, 
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) as checked,
                d.nome as nm_pais
           from co_pessoa_endereco              a
                inner     join co_tipo_endereco a1 on (a.sq_tipo_endereco = a1.sq_tipo_endereco and
                                                       (a1.email          = 'S' or
                                                        a1.internet       = 'S'
                                                       )
                                                      )
                  inner   join co_cidade        b  on (a.sq_cidade        = b.sq_cidade)
                    inner join co_uf            c  on (b.co_uf            = c.co_uf and
                                                       b.sq_pais          = c.sq_pais
                                                      )
                    inner join co_pais          d  on (b.sq_pais          = d.sq_pais)
          where a.sq_pessoa = @p_cliente
         order by dbo.acentos(a.logradouro);
   Else If @p_restricao = 'ENDERECO'
      -- Recupera todos os endereços, independente do tipo
         select a.sq_pessoa_endereco, a.complemento, a.bairro, a.cep, a1.sq_tipo_endereco, a1.nome tipo_endereco, a1.email, a1.internet, 
                a.logradouro+' ('+case c.co_uf when 'EX' then b.nome+'-'+d.nome else b.nome+'-'+c.co_uf end +')' as endereco,
                a.padrao, a.logradouro, a.sq_cidade, b.nome + '-' + c.co_uf as cidade, 
                b.nome+', '+c.nome+', '+d.nome as google,
                (select count(*) from siw_menu_endereco where sq_pessoa_endereco = a.sq_pessoa_endereco) as checked,
                d.nome as nm_pais
           from co_pessoa_endereco              a
                inner     join co_tipo_endereco a1 on (a.sq_tipo_endereco = a1.sq_tipo_endereco and
                                                       a.padrao           = 'S'
                                                      )
                  inner   join co_cidade        b  on (a.sq_cidade        = b.sq_cidade)
                    inner join co_uf            c  on (b.co_uf            = c.co_uf and
                                                       b.sq_pais          = c.sq_pais
                                                      )
                    inner join co_pais          d  on (b.sq_pais          = d.sq_pais)
            and a.sq_tipo_endereco = @p_tipo_endereco
            and (@p_chave is null or (@p_chave is not null and a.sq_pessoa_endereco <> @p_chave))
            and a.sq_pessoa        = @p_cliente
         order by dbo.acentos(a.logradouro);                    


END
