SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetUorgData (@p_sq_unidade int) as
begin
   --Recupera os dados de uma unidade organizacional
      select sq_unidade, sq_tipo_unidade,
             sq_area_atuacao,sq_unidade_gestora,sq_unidade_pai,
             sq_unid_pagadora,sq_pessoa_endereco, 
             nome, sigla, ordem,
             informal,vinculada,adm_central,Unidade_Gestora,
             codigo,ativo,sq_tipo_unidade,Unidade_Pagadora,email
        from eo_unidade
       where sq_unidade = @p_sq_unidade
end


GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

