SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



create procedure dbo.SP_GetDefList as
begin
   -- Recupera as deficiências existentes
      select a.sq_deficiencia, a.nome, a.ativo, 
             case a.ativo when 'S' then 'Sim' else 'Não' end ativodesc,
             a.codigo, isnull(a.descricao,'-') descricao, b.nome sq_grupo_defic
        from co_deficiencia a, co_grupo_defic b  
      where a.sq_grupo_defic = b.sq_grupo_defic
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

