SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



create procedure dbo.SP_GetMenuData
   (@p_sq_menu   int
   ) as
begin
   -- Recupera os dados de uma opção do menu
      select a.*, b.solicita_cc, b.envia_mail mail_tramite, c.sigla sg_modulo
      from siw_menu     a
             left outer join siw_tramite b on (a.sq_menu = b.sq_menu and b.sigla = 'CI')
             inner      join siw_modulo  c on (a.sq_modulo = c.sq_modulo)
      where a.sq_menu   = @p_sq_menu
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

