SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO





create procedure dbo. SP_GetPersonList
   (@p_cliente   int,
    @p_chave     int        =null,
    @p_restricao varchar(50)=null) as
begin
   If @p_restricao = 'PESSOA' Begin
      -- Recupera as pessoas da organização
         select a.sq_pessoa, b.cpf, a.nome, a.nome_resumido, a.nome_indice, c.username,
                d.sigla sg_unidade, d.nome nm_unidade, e.nome nm_local
           from co_pessoa                               a
                 left outer    join co_pessoa_fisica  b on (a.sq_pessoa = b.sq_pessoa)
                 left outer    join sg_autenticacao   c on (a.sq_pessoa = c.sq_pessoa) 
                    left outer join eo_unidade        d on (c.sq_unidade = d.sq_unidade)
                    left outer join eo_localizacao    e on (c.sq_localizacao = e.sq_localizacao)
          where a.sq_pessoa_pai = @p_cliente
         order by a.nome_indice
   End Else If @p_restricao = 'INTERNOS' Begin
      -- Recupera as pessoas internas à organização
        select a.sq_pessoa, b.cpf, a.nome, a.nome_resumido, a.nome_indice, c.username,
               f.sigla sg_unidade, f.nome nm_unidade, g.nome nm_local
          from co_pessoa                               a
                left outer     join  co_pessoa_fisica  b on (a.sq_pessoa      = b.sq_pessoa)
                left outer     join  sg_autenticacao   c on (a.sq_pessoa      = c.sq_pessoa)
                    left outer join eo_unidade         f on (c.sq_unidade     = f.sq_unidade)
                    left outer join eo_localizacao     g on (c.sq_localizacao = g.sq_localizacao),
               co_tipo_vinculo  d,
               co_tipo_pessoa   e
         where a.sq_tipo_vinculo = d.sq_tipo_vinculo
           and d.interno         = 'S'
           and a.sq_tipo_pessoa  = e.sq_tipo_pessoa
           and e.ativo           = 'S'
           and e.nome            = 'Física'
           and a.sq_pessoa_pai = @p_cliente 
      order by a.nome_indice
   End Else If @p_restricao = 'USUARIOS' Begin
        -- Recupera os usuários do sistema 
        select a.sq_pessoa, b.cpf, a.nome, a.nome_resumido, a.nome_indice, c.username,
               f.sigla sg_unidade, f.nome nm_unidade, g.nome nm_local
          from co_pessoa                           a
                left outer join  co_pessoa_fisica  b on (a.sq_pessoa       = b.sq_pessoa)
                inner      join  sg_autenticacao   c on (a.sq_pessoa       = c.sq_pessoa)
                  inner    join  eo_unidade        f on (c.sq_unidade      = f.sq_unidade)
                  inner    join  eo_localizacao    g on (c.sq_localizacao  = g.sq_localizacao)
                inner      join co_tipo_vinculo    d on (a.sq_tipo_vinculo = d.sq_tipo_vinculo)
                inner      join co_tipo_pessoa     e on (a.sq_tipo_pessoa  = e.sq_tipo_pessoa)
         where c.ativo          = 'S'
           and d.interno        = 'S'
           and e.ativo          = 'S'
           and e.nome           = 'Física'
           and a.sq_pessoa_pai  = @p_cliente 
      order by a.nome_indice
   End Else If @p_restricao = 'TTCENTRAL' Begin
      -- Recupera as pessoas vinculadas a uma central telefônica
         select a.sq_pessoa, a.nome_resumido,
                d.sigla sg_unidade, d.nome nm_unidade, e.nome nm_local
           from co_pessoa a
                 left outer    join sg_autenticacao   c on (a.sq_pessoa = c.sq_pessoa) 
                    left outer join eo_unidade        d on (c.sq_unidade = d.sq_unidade)
                    left outer join eo_localizacao    e on (c.sq_localizacao = e.sq_localizacao),
                tt_usuario b, tt_central f
          where a.sq_pessoa_pai   = @p_cliente
            and a.sq_pessoa       = b.usuario
            and b.sq_central_fone = f.sq_central_fone      
            and f.sq_central_fone = @p_chave
         order by a.nome_resumido
   End Else If @p_restricao = 'TTTRANSFERE' Begin
      -- Recupera as pessoas vinculadas a uma central telefônica
         select distinct a.sq_pessoa, a.nome_resumido,
                f.sigla sg_unidade, f.nome nm_unidade, g.nome nm_local
           from co_pessoa                      a
                inner    join tt_usuario       b on (a.sq_pessoa             = b.usuario)
                   inner join tt_central       c on (b.sq_central_fone       = c.sq_central_fone)
                   inner join tt_ramal_usuario d on (b.sq_usuario_central    = d.sq_usuario_central)
                inner    join sg_autenticacao  e on (a.sq_pessoa             = e.sq_pessoa)
                   inner join eo_unidade       f on (e.sq_unidade            = f.sq_unidade)
                   inner join eo_localizacao   g on (e.sq_localizacao        = g.sq_localizacao)
          where a.sq_pessoa_pai         = @p_cliente
            and c.sq_central_fone       = @p_chave
            and d.fim                   is null
            and a.sq_pessoa             = b.usuario
            and b.sq_usuario_central    = d.sq_usuario_central
            and b.sq_central_fone       = c.sq_central_fone
         order by a.nome_resumido
   End
end





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

