SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetUserTypeList as
begin
   -- Recupera o tipos de pessoas existentes
      select sq_tipo_pessoa, nome, padrao, 
             case padrao when 'S' then 'Sim' else 'Não' end padraodesc, 
             ativo, 
             case ativo when 'S' then 'Sim' else 'Não' end ativodesc
        from co_tipo_pessoa
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

