SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetAdressTPData
   (@p_sq_tipo_endereco int)
as
begin
   -- Recupera os dados do tipo de endereço
      select * from co_tipo_endereco where sq_tipo_endereco = @p_sq_tipo_endereco
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

