SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetModData (@p_sq_modulo int) as
begin
   --Recupera os dados de um módulo
      select * from siw_modulo where sq_modulo = @p_sq_modulo
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

