SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetEtniaData
   (@p_sq_etnia   int) as
begin
   -- Recupera os dados da etnia informada
      select * from co_etnia where sq_etnia = @p_sq_etnia
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

