SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



create procedure dbo.SP_GetEtapaOrder
   (@p_chave   int,
    @p_chave_pai int=null
   ) as
begin
   -- Recupera o número de ordem das outras opções irmãs à informada
      select a.ordem, a.titulo 
        from pj_projeto_etapa a
       where a.sq_siw_solicitacao = @p_chave
         and ((@p_chave_pai       is null and a.sq_etapa_pai is null) or
              (@p_chave_pai       is not null and a.sq_etapa_pai = @p_chave_pai))
      order by a.ordem
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

