SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetDefData
   (@p_sq_deficiencia int) as
begin
   -- Recupera os dados da deficiência
      select * from co_deficiencia where sq_deficiencia = @p_sq_deficiencia
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

