SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



create procedure dbo.SP_GetMenuList
   (@p_cliente   int,
    @p_operacao  varchar(1),
    @p_chave     int=null
   ) as
begin
   If @p_operacao <> 'I' and @p_operacao <> 'H' Begin
      -- Se for alteração, evita a exibição do próprio registro e dos seus subordinados
      select a.sq_menu,
             case when a.sq_modulo is null Then a.nome Else a.nome+' ('+b.nome+')' end nome 
        from siw_menu   a, 
             siw_modulo b 
       where a.sq_modulo = b.sq_modulo 
         and a.sq_pessoa = @p_cliente
         and a.sq_menu not in (select chave from siw.SP_fGetMenuList(@p_chave)) 
      order by siw.acentos(a.nome,null)
   End Else Begin
      -- Recupera os links existentes para o cliente informado
      select a.sq_menu,
             case when a.sq_modulo is null Then a.nome Else a.nome+' ('+b.nome+')' end nome,
             a.acesso_geral, a.ultimo_nivel, a.tramite 
        from siw_menu   a, 
             siw_modulo b 
       where a.sq_modulo = b.sq_modulo 
         and a.sq_pessoa = @p_cliente
      order by siw.acentos(a.nome,null)
    End
end




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

