SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO




create procedure dbo.SP_GetEtpDataPrnts
   (@p_chave   int
   ) as
-- Recupera as etapas acima da informada
Declare @stack table (chave int, level int)
-- Cria a tabela a ser usada para retornar os dados
Declare @stack1 table (chave     int not null, 
                       chave_pai int null, 
                       titulo    varchar(100) not null, 
                       ordem     int null)

Begin
  set nocount on
  Declare @level int

  -- Grava primeiro registro na pilha
  Set @level = 1
  Insert @stack Values (@p_chave, @level)



  While @level > 0 Begin
     If exists (select * from @stack where  level = @level) Begin
        -- seleciona a chave corrente e descarta o registro da pilha
        select @p_chave = chave from @stack where level = @level
        delete from @stack where level = @level and chave = @p_chave

        -- insere registro na tabela de retorno
        Insert @stack1
           select sq_projeto_etapa, sq_etapa_pai, titulo, ordem
             from pj_projeto_etapa
            where sq_projeto_etapa = @p_chave

       -- pega a chave superior à atual
        select @p_chave = chave_pai
          from @stack1
         where chave = @p_chave

        -- se não tiver chave superior, não cria mais um nível
        If @p_chave is not null Begin
           Set @level = @level + 1
           Insert @stack Values (@p_chave, @level)
        End
     END
     ELSE Begin
        SELECT @level = @level - 1
     End
  End
  select * from @stack1
End




GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

