SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetUnitTypeList (@p_sq_pessoa int) as
begin
   --Recupera a lista dos tipos de unidade
      select sq_tipo_unidade, nome, ativo
        from eo_tipo_unidade
       where sq_pessoa = @p_sq_pessoa
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

