SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_GetCountryData (@p_sq_pais int) as
begin
   -- Recupera os dados do país
      select * from co_pais where sq_pais = @p_sq_pais
end



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

