SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO








create procedure dbo.SP_PutDemandaGeral
   (@p_operacao           varchar(1),
    @p_chave              int            = null,
    @p_copia              int            = null,
    @p_menu               int            = null,
    @p_unidade            int            = null,
    @p_solicitante        int            = null,
    @p_proponente         varchar(90)    = null,
    @p_cadastrador        int            = null,
    @p_executor           int            = null,
    @p_sqcc               int            = null,
    @p_descricao          varchar(2000)  = null,
    @p_justificativa      varchar(2000)  = null,
    @p_inicio             datetime       = null,
    @p_fim                datetime       = null,
    @p_valor              numeric(18,2)  = null,
    @p_data_hora          varchar(1)     = null,
    @p_unid_resp          int            = null,
    @p_assunto            varchar(2000)  = null,
    @p_prioridade         int            = null,
    @p_aviso              varchar(1)     = null,
    @p_dias               int            = null,
    @p_cidade             int            = null,
    @p_palavra_chave      varchar(90)    = null,
    @p_inicio_real        datetime       = null,
    @p_fim_real           datetime       = null,
    @p_concluida          varchar(1)     = null,
    @p_data_conclusao     datetime       = null,
    @p_nota_conclusao     varchar(2000)  = null,
    @p_custo_real         numeric(18,2)  = null,
    @p_opiniao            int            = null,
    @p_projeto            int            = null,
    @p_atividade          int            = null,
    @p_projeto_ant        int            = null,
    @p_atividade_ant      int            = null,
    @p_chave_nova         int output
   ) as
begin

   Declare @w_chave   int
   Declare @w_log_sol int
   Declare @w_log_esp int

   If @p_operacao = 'I' Begin -- Inclusão
      -- Insere registro em SIW_SOLICITACAO
      insert into siw_solicitacao (
         sq_menu,            sq_siw_tramite,    solicitante, 
         cadastrador,        executor,          descricao,           justificativa, 
         inicio,             fim,               inclusao,            ultima_alteracao, 
         conclusao,          valor,             opiniao,             data_hora, 
         sq_unidade,         sq_cc,             sq_cidade_origem,    palavra_chave,
         sq_solic_pai)
      (select 
         @p_menu,             a.sq_siw_tramite, @p_solicitante,
         @p_cadastrador,      @p_executor,      @p_descricao,        @p_justificativa,
         @p_inicio,           @p_fim,           getdate(),           getdate(),
         null,                @p_valor,         null,                @p_data_hora,
         @p_unidade,          @p_sqcc,          @p_cidade,           @p_palavra_chave,
         @p_projeto
         from siw_tramite a
        where a.sq_menu = @p_menu
          and a.sigla   = 'CI'
      )
      
      -- Recupera a chave utilizada
      Select @w_chave = @@IDENTITY
       
      -- Insere registro em GD_DEMANDA
      Insert into gd_demanda
         ( sq_siw_solicitacao,  sq_unidade_resp, assunto,           prioridade,
           aviso_prox_conc,     dias_aviso,      inicio_real,       fim_real,
           concluida,           data_conclusao,  nota_conclusao,    custo_real,
           proponente
         )
      (select
           @w_chave,            @p_unid_resp,    @p_assunto,        @p_prioridade,
           @p_aviso,            @p_dias,         null,              null,
           'N',                 null,            null,              0,
           @p_proponente
      )

      -- Insere log da solicitação
      Insert Into siw_solic_log 
         (sq_siw_solicitacao, sq_pessoa,      sq_siw_tramite,   data,      devolucao,  observacao)
      (select 
          @w_chave,           @p_cadastrador, a.sq_siw_tramite, getdate(), 'N',        'Cadastramento inicial'
         from siw_tramite a
        where a.sq_menu = @p_menu
          and a.sigla   = 'CI'
      )
   
      -- Se receber p_atividade, grava na tabela de atividades de projeto
      If @p_atividade is not null Begin
         Insert Into pj_etapa_demanda 
                (sq_projeto_etapa, sq_siw_solicitacao)
         Values (@p_atividade,     @w_chave)
      End
      
      -- Se a demanda foi copiada de outra, grava os dados complementares 
       If @p_copia is not null Begin
          -- Insere registro na tabela de interessados 
          Insert Into gd_demanda_interes 
             ( sq_pessoa,   sq_siw_solicitacao,   tipo_visao,    envia_email ) 
          (Select 
               a.sq_pessoa, @w_chave,             a.tipo_visao,  a.envia_email 
            from gd_demanda_interes a 
           where a.sq_siw_solicitacao = @p_copia 
          )

          -- Insere registro na tabela de áreas envolvidas 
          Insert Into gd_demanda_envolv 
             ( sq_unidade,   sq_siw_solicitacao,   papel ) 
          (Select 
               a.sq_unidade, @w_chave,             a.papel 
             from gd_demanda_envolv a 
            where a.sq_siw_solicitacao = @p_copia 
           )
       End Else If @p_projeto is not null Begin -- Se for uma demanda de projeto e não for cópia 
           -- Importa os interessados do projeto 
           Insert Into gd_demanda_interes 
              ( sq_pessoa,   sq_siw_solicitacao,   tipo_visao,    envia_email ) 
           (Select 
                a.sq_pessoa, @w_chave,             a.tipo_visao,  a.envia_email 
             from pj_projeto_interes a 
            where a.sq_siw_solicitacao = @p_projeto 
           )
    
           -- Importa as áreas envolvidas no projeto 
           Insert Into gd_demanda_envolv 
              ( sq_unidade,   sq_siw_solicitacao,   papel ) 
           (Select 
                a.sq_unidade, @w_chave,             a.papel 
              from pj_projeto_envolv a 
             where a.sq_siw_solicitacao = @p_projeto 
            )
      End
   End Else If @p_operacao = 'A' Begin -- Alteração
      -- Atualiza a tabela de solicitações
      Update siw_solicitacao set
          sq_solic_pai     = @p_projeto,
          sq_cc            = @p_sqcc,
          solicitante      = @p_solicitante,
          executor         = @p_executor,
          descricao        = rtrim(@p_descricao), 
          justificativa    = rtrim(@p_justificativa),
          inicio           = @p_inicio,
          fim              = @p_fim,
          ultima_alteracao = getdate(),
          valor            = @p_valor,
          sq_cidade_origem = @p_cidade,
          palavra_chave    = @p_palavra_chave
      where sq_siw_solicitacao = @p_chave
      
      -- Atualiza a tabela de demandas
      Update gd_demanda set
          sq_unidade_resp = @p_unid_resp,
          proponente       = @p_proponente,
          assunto         = rtrim(@p_assunto),
          prioridade      = @p_prioridade,
          aviso_prox_conc = @p_aviso,
          dias_aviso      = @p_dias,
          inicio_real     = @p_inicio_real
      where sq_siw_solicitacao = @p_chave

      -- Verifica a tabela de etapas, se receber p_atividade
      If IsNull(@p_atividade_ant,0) <> IsNull(@p_atividade,0) Begin
         -- Apaga a vinculação com os dados antigos
         delete pj_etapa_demanda where sq_siw_solicitacao = @p_chave and IsNull(sq_projeto_etapa,0) = IsNull(@p_atividade_ant,0)
         
         If @p_atividade is not null Begin
            -- Cria a vinculação com os novos dados
            Insert Into pj_etapa_demanda 
                   (sq_projeto_etapa, sq_siw_solicitacao)
            Values (@p_atividade,     @p_chave)
         End
      End
   End Else If @p_operacao = 'E' Begin -- Exclusão
      -- Verifica a quantidade de logs da solicitação
      select @w_log_sol = count(*) from siw_solic_log  where sq_siw_solicitacao = @p_chave
      select @w_log_esp = count(*) from gd_demanda_log where sq_siw_solicitacao = @p_chave
      
      -- Se não foi enviada para outra fase nem para outra pessoa, exclui fisicamente.
      -- Caso contrário, coloca a solicitação como cancelada.
      If (@w_log_sol + @w_log_esp) > 1 Begin
         -- Insere log de cancelamento
         Insert Into siw_solic_log 
            (sq_siw_solicitacao,       sq_pessoa,            sq_siw_tramite,
             data,                     devolucao,            observacao
            )
         (select 
             a.sq_siw_solicitacao,     @p_cadastrador,       a.sq_siw_tramite,
             getdate(),                'N',                  'Cancelamento'
            from siw_solicitacao a
           where a.sq_siw_solicitacao = @p_chave
         )
         
         -- Atualiza a situação da demanda
         update gd_demanda set concluida = 'S' where sq_siw_solicitacao = @p_chave

         -- Recupera a chave que indica que a solicitação está cancelada
         select @w_chave = a.sq_siw_tramite from siw_tramite a where a.sq_menu = @p_menu and a.sigla = 'CA'
         
         -- Atualiza a situação da solicitação
         update siw_solicitacao set sq_siw_tramite = @w_chave where sq_siw_solicitacao = @p_chave
      End Else Begin
         -- Remove os registros vinculados à demanda
         delete gd_demanda_envolv  where sq_siw_solicitacao = @p_chave
         delete gd_demanda_interes where sq_siw_solicitacao = @p_chave
         delete pj_etapa_demanda   where sq_siw_solicitacao = @p_chave

         -- Remove o registro na tabela de demandas
         delete gd_demanda where sq_siw_solicitacao = @p_chave
            
         -- Remove o log da solicitação
         delete siw_solic_log where sq_siw_solicitacao = @p_chave

         -- Remove o registro na tabela de solicitações
         delete siw_solicitacao where sq_siw_solicitacao = @p_chave
      End
   End Else If @p_operacao = 'C' Begin -- Conclusão
      -- Atualiza a tabela de solicitações com os dados da conclusão
      Update siw_solicitacao set
          conclusao        = @p_data_conclusao,
          ultima_alteracao = getdate(),
          sq_siw_tramite   = (select sq_siw_tramite from siw_tramite where sq_menu = @p_menu and sigla='AT')
      where sq_siw_solicitacao = @p_chave
      
      -- Atualiza a tabela de demandas com os dados da conclusão
      Update gd_demanda set
          fim_real        = @p_fim_real,
          concluida       = @p_concluida,
          data_conclusao  = @p_data_conclusao,
          nota_conclusao  = rtrim(@p_nota_conclusao),
          custo_real      = @p_custo_real
      where sq_siw_solicitacao = @p_chave
   End Else If @p_operacao = 'O' Begin -- Opinião
      -- Atualiza a tabela de solicitações com a opinião do solicitante
      Update siw_solicitacao set
          opiniao         = @p_opiniao
      where sq_siw_solicitacao = @p_chave
   End

   If @p_chave is not null
      Set @p_chave_nova = @p_chave
   Else
      Set @p_chave_nova = @w_chave
end 











GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

