SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_PutCOGRDEF
   (@p_operacao  varchar(1),
    @p_chave     int         = null,
    @p_nome      varchar(50) = null,
    @p_ativo     varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_grupo_defic (nome, ativo)  
      values (
                 rtrim(@p_nome),
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_grupo_defic set 
         nome      = rtrim(@p_nome),
         ativo     = @p_ativo
      where sq_grupo_defic = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_grupo_defic where sq_grupo_defic = @p_chave
   End
end





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

