SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO



create procedure dbo.SP_PutSIWMenu
   (@p_operacao            varchar(1),
    @p_chave               int           = null,
    @p_cliente             int           = null,
    @p_nome                varchar(40)   = null,
    @p_acesso_geral        varchar(1)    = null,
    @p_modulo              int           = null,
    @p_tramite             varchar(1)    = null,
    @p_ultimo_nivel        varchar(1)    = null,
    @p_descentralizado     varchar(1)    = null,
    @p_externo             varchar(1)    = null,
    @p_ativo               varchar(1)    = null,
    @p_ordem               int           = null,
    @p_sq_menu_pai         int           = null,
    @p_link                varchar(60)   = null,
    @p_p1                  int           = null,
    @p_p2                  int           = null,
    @p_p3                  int           = null,
    @p_p4                  int           = null,
    @p_sigla               varchar(10)   = null,
    @p_imagem              varchar(60)   = null,
    @p_target              varchar(15)   = null,
    @p_sq_unidade_exec     int           = null,
    @p_emite_os            varchar(1)    = null,
    @p_consulta_opiniao    varchar(1)    = null,
    @p_envia_email         varchar(1)    = null,
    @p_exibe_relatorio     varchar(1)    = null,
    @p_como_funciona       varchar(1000) = null,
    @p_vinculacao          varchar(1)    = null,
    @p_data_hora           varchar(1)    = null,
    @p_envia_dia_util      varchar(1)    = null,
    @p_pede_descricao      varchar(1)    = null,
    @p_pede_justificativa  varchar(1)    = null,
    @p_finalidade          varchar(200)  = null
   ) as
begin

   Declare @w_chave int

   Begin Transaction

   If @p_operacao = 'I' Begin
      -- Insere registro em SIW_MENU
      insert into siw_menu (sq_menu_pai, link,
         p1, p2, p3, p4, sigla, imagem, target, 
         emite_os, consulta_opiniao, envia_email, exibe_relatorio, como_funciona, vinculacao,  
         data_hora, envia_dia_util, descricao, justificativa, finalidade,  
         sq_pessoa, nome, acesso_geral, sq_modulo, sq_unid_executora,
         tramite, ultimo_nivel, descentralizado, externo, ativo, ordem)  
      values (@p_sq_menu_pai, @p_link,
         @p_p1, @p_p2, @p_p3, @p_p4, upper(rtrim(@p_sigla)), rtrim(@p_imagem), rtrim(@p_target),
         @p_emite_os, @p_consulta_opiniao, @p_envia_email, @p_exibe_relatorio, rtrim(@p_como_funciona), @p_vinculacao,
         @p_data_hora, @p_envia_dia_util, @p_pede_descricao, @p_pede_justificativa, @p_finalidade,
         @p_cliente, @p_nome, @p_acesso_geral, @p_modulo, @p_sq_unidade_exec,
         @p_tramite, @p_ultimo_nivel, @p_descentralizado, @p_externo, @p_ativo, @p_ordem)
      
      -- Recupera a chave utilizada
      Select @w_chave = @@IDENTITY
       
      -- Cria a opção do menu para todos os endereços da organização
      insert into siw_menu_endereco (sq_menu, sq_pessoa_endereco) 
        (select @w_chave, sq_pessoa_endereco 
           from co_pessoa_endereco a, co_tipo_endereco b 
          where a.sq_tipo_endereco = b.sq_tipo_endereco 
            and b.internet         = 'N' 
            and b.email            = 'N' 
            and sq_pessoa          = @p_cliente
        )
      
   End Else If @p_operacao = 'A' Begin
      -- Se a opção do menu não tiver trâmite, apaga registro em SIW_TRAMITE
      If @p_tramite = 'N' Begin
         delete siw_tramite where sq_menu = @p_chave
      End
      
      -- Altera registro
      update siw_menu set
          sq_menu_pai          = @p_sq_menu_pai,        link                 = @p_link,
          p1                   = @p_p1,                 p2                   = @p_p2, 
          p3                   = @p_p3,                 p4                   = @p_p4, 
          sigla                = upper(rtrim(@p_sigla)), imagem               = rtrim(@p_imagem), 
          target               = rtrim(@p_target),       emite_os             = @p_emite_os, 
          consulta_opiniao     = @p_consulta_opiniao,   envia_email          = @p_envia_email, 
          exibe_relatorio      = @p_exibe_relatorio,    como_funciona        = rtrim(@p_como_funciona), 
          vinculacao           = @p_vinculacao,         data_hora            = @p_data_hora, 
          envia_dia_util       = @p_envia_dia_util,     descricao            = @p_pede_descricao, 
          justificativa        = @p_pede_justificativa, finalidade           = @p_finalidade,
          nome                 = @p_nome,               acesso_geral         = @p_acesso_geral, 
          sq_modulo            = @p_modulo,             tramite              = @p_tramite, 
          ultimo_nivel         = @p_ultimo_nivel,       descentralizado      = @p_descentralizado, 
          externo              = @p_externo,            ordem                = @p_ordem,
          sq_unid_executora    = @p_sq_unidade_exec
      where sq_menu = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Remove as permissões de acesso por trâmite que os usuários têm
      delete sg_tramite_pessoa where sq_siw_tramite in (select sq_siw_tramite from siw_tramite where sq_menu = @p_chave)
      
      -- Remove as permissões de acesso por endereço que os usuários têm
      delete sg_pessoa_menu where sq_menu = @p_chave
      
      -- Remove as permissões de acesso por endereço que os perfis têm
      delete sg_perfil_menu where sq_menu = @p_chave
      
      -- Remove a opção dos endereços
      delete siw_menu_endereco where sq_menu = @p_chave
      
      -- Remove os atributos do serviço
      delete siw_tramite_atrib where sq_siw_tramite = (select sq_siw_tramite from siw_tramite where sq_menu = @p_chave)
      
      -- Remove os trâmites do serviço
      delete siw_tramite where sq_menu = @p_chave
      
      -- Remove a opção do menu
      delete siw_menu where sq_menu = @p_chave
   End Else If @p_operacao = 'T' Begin
      -- Ativa registro
      update siw_menu set ativo = 'S' where sq_menu = @p_chave
   End Else If @p_operacao = 'D' Begin
      -- Desativa registro
      update siw_menu set ativo = 'N' where sq_menu = @p_chave
   End
   
   commit   
end 



GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

