SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_PutCOTPDEF
   (@p_operacao                 varchar(1),
    @p_chave                    int          = null,
    @p_sq_grupo_deficiencia     int          = null,
    @p_codigo                   varchar(3)   = null,
    @p_nome                     varchar(50)  = null,
    @p_descricao                varchar(200) = null,
    @p_ativo                    varchar(1)   = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_deficiencia (sq_grupo_defic, codigo, nome, descricao, ativo)
      values (
                 @p_sq_grupo_deficiencia,
                 rtrim(@p_codigo),
                 rtrim(@p_nome),
                 rtrim(@p_descricao),
                 @p_ativo
         )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_deficiencia set
         sq_grupo_defic       = @p_sq_grupo_deficiencia,
         codigo               = rtrim(@p_codigo),
         nome                 = rtrim(@p_nome),
         descricao            = rtrim(@p_descricao),
         ativo                = @p_ativo
      where sq_deficiencia    = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_deficiencia where sq_deficiencia = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

