SET QUOTED_IDENTIFIER ON 
GO
SET ANSI_NULLS ON 
GO

setuser N'SIW'
GO


create procedure dbo.SP_PutCoPesConBan
   (@p_operacao          varchar(1),
    @p_chave             int         = null,
    @p_pessoa            int         = null,
    @p_agencia           int         = null,    
    @p_oper              varchar(6)  = null,
    @p_numero            varchar(30) = null,
    @p_tipo_conta        int         = null,
    @p_ativo             varchar(1)  = null,
    @p_padrao            varchar(1)  = null
   ) as
begin
   If @p_operacao = 'I' Begin
      -- Insere registro
      insert into co_pessoa_conta
         (operacao,              sq_pessoa,      sq_agencia, 
          numero,                ativo,          padrao,
          tipo_conta
         )
      values (
          @p_oper,               @p_pessoa,     @p_agencia,
          @p_numero,             @p_ativo,      @p_padrao,
          @p_tipo_conta
      )
   End Else If @p_operacao = 'A' Begin
      -- Altera registro
      update co_pessoa_conta set
         operacao             = @p_oper,
         tipo_conta           = @p_tipo_conta,
         ativo                = @p_ativo,
         padrao               = @p_padrao
      where sq_pessoa_conta   = @p_chave
   End Else If @p_operacao = 'E' Begin
      -- Exclui registro
      delete co_pessoa_conta where sq_pessoa_conta = @p_chave
   End
end 





GO
setuser
GO

SET QUOTED_IDENTIFIER OFF 
GO
SET ANSI_NULLS ON 
GO

